[2021-08-12 18:29] Testato commented on #693
@lpuglia
the PR is present on the new IA version 2.6.23
try to update and test it on you TV

[2021-08-13 04:02] adamhotep opened #774 "Fatal warning: No available sequences for HEVC codec extra data"
When I use the [Netflix add-on](https://github.com/CastagnaIT/plugin.video.netflix) to watch a program encoded with [HEVC](https://en.wikipedia.org/wiki/High_Efficiency_Video_Coding) (H.265), Kodi acknowledges that I'm trying to play something and then gets a pinwheel of death. Waiting does nothing and pressing the "stop" button ("x" on a keyboard) freezes the throbber, but then everything is stuc

[2021-08-13 04:35] glennguy commented on #774
Hi @adamhotep

We need a full debug log: https://kodi.wiki/view/Log_file/Easy

[2021-08-14 05:13] adamhotep commented on #774
@glennguy: There appears to be a lot of personal data in the full debug log. I'm concerned about leaking credentials or pii in there.

Here's a [partial dump of my debug-enabled log](https://paste.kodi.tv/ivojoresoz.kodi). It's manually redacted and I've snipped out a lot of content betwen initial Kodi load and launching the Netflix title. Let me know if I've been too aggressive in my redactions a

[2021-08-14 10:04] glennguy commented on #774
Not really sure what it could be.

@CastagnaIT Any idea on this one? May not be related but is it normal for Netflix to have to use the secure pathway on linux (or any non-Android platform)?

[2021-08-14 10:42] CastagnaIT commented on #774
You have enabled the HEVC codec in ntflix addon, if it has not been introduced in the latest widevine versions is not supported by Widevine for linux

For this reason the switch option in the Expert setting of ntfx addon is no available for linux but only for Android,
which makes me think that in some old addon version you have manually enabled HEVC codec or you have forced enabled this codec in s

[2021-08-14 10:51] CastagnaIT commented on #774
@glennguy i am not sure what you are referring more details please

[2021-08-14 18:08] adamhotep commented on #774
@CastagnaIT wrote:

All of my add-ons are up to date, including Netflix (1.17.0+matrix.1), InputStream Adaptive (2.6.23), and InputStream Heper (0.5.7+matrix.1). I ran the configuration wizard and nothing seemed to change. I don't think I had changed any settings in those three add-ons (or any other add-ons) in the prior months before this, but I did hunt through their settings to see what might b

[2021-08-16 11:27] michael112 opened #775 "[Android7] No audio in videwine content"
Hi,
since several months I have severe problem with playing DRM-encrypted materials - the video is playing properly, but there is no sound.
Usually I use Kodi 18.9 with latest InputStream Adaptive and InputStream Helper, but I tested this also with Kodi 19 - same problem.
The problem occur on two devices both operating Android 7 (system updates installed, which does not help).
I also tested this o

[2021-08-17 19:19] matthuisman commented on #775
Please upload a copy of the manifest and a full debug log.

I suspect this is a duplicate of my issue here
https://github.com/xbmc/inputstream.adaptive/issues/686

Oh wait, you say audio does work on Android 5 and windows 10 so maybe not the same issue

[2021-08-17 20:02] olavopeixoto commented on #184
Hi,
here is another example. In this case the HLS has to download a key file.
The main playlist sets a cookie. When inputstream is downloading the media segments it sends the right cookie but not so for the key file resulting in 403 and Kodi crash.

<details>
    <summary> log </summary>

[code]

</details>

-------------

The playlist:

<details>
    <summary>The playlist:</summary>

[code]

</de

[2021-08-19 09:44] michael112 commented on #775
@matthuisman Please give me a little bit of time, I need to make a test with an example material on my various devices.

[2021-08-19 09:50] glennguy commented on #774
@CastagnaIT was referring to whether Netflix needed to use `SSD_CAPS::SSD_SECURE_PATH` / annex B on non Android platforms, as the log provided has this flag set when the decrypter initializes. Not to worry.

[2021-08-19 10:07] glennguy commented on #773
The 2 links below only relate to `ts` files which are only in HLS. IA can support `INCLUDEDSTREAM`s for the case where HLS has `ts` files that include video *and* audio, but subtitles are not implemented.

For fmp4, it will get set here: https://github.com/xbmc/inputstream.adaptive/blob/851d1c49c038704d106ffd8889ffb2c95e39524f/src/main.cpp#L2815-L2817
We set as `srt` for any case it seems.

[2021-08-19 10:53] CastagnaIT commented on #773
thanks for this explanation
i will try to change that line

yes every subtitle format is currently "converted" into "srt" by ISA, but after kodi re-convert the ISA "srt" data again before display on screen, it is a double step that can be avoided, we should let kodi natively manage subtitles formats types
in this way we can provide a better support for subtitles types

after this i will have to fi

[2021-08-21 03:45] adamhotep commented on #774
Glad to hear it. I'm still not sure which setting got tripped on my install (or if the Netflix app should more gracefully fail and perhaps inform the user about the unsupported codec with instructions on how to revert the setting, but that'd make more sense in the Netflix Github issues). It sounds like this ticket is good to close.

[2021-08-21 03:45] #774 closed, assigned to nobody

[2021-08-21 09:36] CastagnaIT commented on #774
that settings for HEVC is not accessible for Linux users
and there is no code in the addon that turn on this settings by itself on linux machine

this is the reason why there are no info in Wiki, because can happen only if a user force something manually or maybe have forced a rollback to a very old version changed manually settings and re-upgrade to last version,
but this back and forth of versio

[2021-08-28 09:31] farlight1 commented on #460
I'm suffering this problem too. After change all individual settings and combinations, I landed here.

I'm using:
Fire TV stick 4K - FireOS 6.2.8.1
Kodi 19.1
24Hz 4K capable TV

I found in the comments some missinformation, I shall try to explain when the problem appears.

- The problem is that some frames are dropped when the addons Netfix and Disney+ streams video in AVC(h264)/1080p/24fps secure

[2021-08-28 11:19] bigretromike commented on #310
@glennguy this issue is from 2 years ago, I'm unable to tell if this solved the issue, but will note the solution until I get again to that point in time. Let's close this, and if I get same issue I will reopen my issue, thank you for replaying, its always better that way.

[2021-08-28 11:19] #310 closed

[2021-08-30 05:06] glennguy commented on #686
Hey I've had a quick look at this last night. The pts/offset values for the audio stream are being set to some astronomical value on stream start. My guess what happens then is the reader wants to find the right (0) pts value but as far as it can see it doesn't exist, so no way to seek to it. I opened in the debugger and set pts for the ADTS reader to 0 and stream then plays with audio.

Need to i

[2021-08-30 07:50] matthuisman opened #782 "[Dash] Support urn:scte:da sh:cc:cea-608:2015 (CEA-608 captions)"
https://github.com/google/shaka-player/issues/1404
https://dashif.org/identifiers/subtitle_and_closed_captioning/

seems kodi does support them:
https://forum.kodi.tv/showthread.php?tid=359024
https://forum.kodi.tv/showthread.php?tid=330882

So maybe we just need to check for the value and set the name etc.

[code]

Hulu live channels seem to use these

[2021-08-30 19:42] matthuisman opened #783 "Seeking across chapters causing crash (Linux/Mac)"
Not 100% if this is IA issue yet.

Playing across chapters is fine.
But trying to seek across them is causing Kodi to crash on Linux / Mac

https://forum.kodi.tv/showthread.php?tid=353316&pid=3056971#pid3056971

https://forum.kodi.tv/showthread.php?tid=353316&pid=3057423#pid3057423

I'll try get a debug build running on Linux which should give us a nice crash log with traceback

[2021-08-30 20:00] michaelarnauts commented on #783
I have seen reports about this happening on the VTM Go Add-on as well.

[2021-08-30 20:56] matthuisman commented on #783
Also hear Netflix also has same issue.

Seems to affect Kodi 18 & 19
I wonder if 2.4.7 has the issue on 18
Ill try get a user to test that.

[2021-08-30 21:15] Badsheep commented on #783
Hello Matthuisman,

(I'm the same Badsheep that reported the bug in Kodi forum.)

I saw your message and did the test :
It doesn't seems to crash with Kodi 18 and input stream.adaptive v2.4.7 !
Still tested on Mac OS.

EDIT-
Hum... not sure...
It did crashed.
Well I'm not sure at 100%.
Have to test a bit more.

[2021-08-30 23:44] matthuisman commented on #783
ok, if 2.4.7 seems at least better, then it narrows down to one of the PRs listed here: https://github.com/xbmc/inputstream.adaptive/pull/711

@Badsheep Can you try the below build and report back your findings?
https://jenkins.kodi.tv/job/xbmc/job/inputstream.adaptive/job/PR-784/1/artifact/cmake/addons/build/zips/inputstream.adaptive+osx-x86_64/inputstream.adaptive-2.6.23.zip

[2021-08-31 06:58] Badsheep commented on #783
Yes with pleasure !
But ain’t it the version for Kodi 19 ?

[2021-08-31 07:36] matthuisman commented on #783
Yes. Please try on Kodi 19 on mac

[2021-08-31 08:05] Badsheep commented on #783
OK it seems more more stable :)
but I still had one crash while pressing "Stop" in Disney + add-on.
[Log here](https://paste.kodi.tv/zudequceko.kodi).

[2021-08-31 08:15] matthuisman commented on #783
Does the other version (from repo) also crash when you stop? Or does my
version I posted above introduce that issue?

On Tue, 31 Aug 2021, 20:05 Badsheep, ***@***.***> wrote:

[2021-08-31 08:24] Badsheep commented on #783
No it’s worse with the repo version.
I’m testing the chapters bugs, as you asked, but for me the most annoying bug is this « stop » bug.
The version above did improve the situation, but it’s not completely solved.

[2021-08-31 08:30] matthuisman commented on #783
My version above is simply reverting a previous commit..

So the stop bug has always been present but you only noticed earlier?

Is it also in Kodi 18? And on your raspberry pi?

[2021-08-31 08:53] Badsheep commented on #783
No it happened in an upgrade.
I need a bit of time to collect informations more precise, I’ll be back un a few hours with a complete sum-up.

[2021-08-31 08:58] matthuisman commented on #783
Yes please. I'm getting conflicting info..

[2021-08-31 09:24] Badsheep commented on #783
I’m on Mac OS only.

[2021-08-31 12:20] Badsheep commented on #783
OK, here’s all my test process.
At the beginning, my config was :

Mac OS, Kodi 18.4, input stream.adaptive v2.4.2, addons : Netflix

Everything worked fine.
Then I wanted to install Disney + addon.
I installed it but I had to upgrade input stream.adaptive.

So now we are here :

Mac OS, Kodi 18.4, input stream.adaptive v2.4.8, addons : Netflix, Disney +

That’s where I noticed the bug (reported [

[2021-08-31 18:46] popy2k14 opened #785 "Android (esp. Nvidia Shield) - Seeking causes video freeze"
## Bug report
### Describe the bug
Here is a clear and concise description of what the problem is:

When trying a seek during video playback of the pvr zattoo addon, the video freezes in-place and stays stuck. Sometimes it will skip to correct place, but can be up to a 20+ second delay. Other times the skip doesn't complete and Kodi must be force-closed. Most of the time, audio playback is running

[2021-08-31 22:51] matthuisman opened #787 "Stopping playback causes crash (Mac)"
https://forum.kodi.tv/showthread.php?tid=353316&pid=3056393#pid3056393
https://forum.kodi.tv/showthread.php?tid=353316&pid=3056919#pid3056919
https://github.com/xbmc/inputstream.adaptive/issues/783#issuecomment-909185790

it seems removing this commit: https://github.com/xbmc/inputstream.adaptive/commit/59e66aad837a07ec87ad41994121a37ce8747d55
helps it happen less often, but still does occur somet

[2021-08-31 22:53] matthuisman commented on #787
@Badsheep
Does the stop bug happen on any other content or add-ons?
Or only Disney+?

[2021-08-31 22:54] matthuisman commented on #783
@Badsheep
I've created a new issue for the stopping causing crash: https://github.com/xbmc/inputstream.adaptive/issues/787

Lets keep this issue for seeking across chapters bug only.
**With the above build I sent you, that fixes seeking across chapter for you right?**

[2021-09-01 02:12] Badsheep commented on #787
I noticed it happens with Netflix Addon too.

[2021-09-01 02:13] Badsheep commented on #783
Yes

[2021-09-01 06:45] matthuisman commented on #787
do you know the last known "good version" that didn't do it?
2.4.7 ?

[2021-09-01 07:00] Badsheep commented on #787
I tried the 2.4.7 and I think if was better ! Similar to the 2.6.23 modified version you made me try.
Cf [Here](https://github.com/xbmc/inputstream.adaptive/issues/783#issuecomment-908702838).

[2021-09-01 07:01] matthuisman commented on #787
thats because 2.4.7 doesnt have the commit that my version removed.

you said that modified version didnt fix the crash on stop though...
so i assume with 2.4.7 you also get the crash on stop?

or, is 2.4.7 completely fixed with no crashes at all?

[2021-09-01 07:13] Badsheep commented on #787
No I still sometime have a crash (exactly as your 2.6.23)

[2021-09-01 07:54] Badsheep commented on #787
The last version I had working well before was the 2.4.2… if I have time I’ll test to increment versions from 2.4.2 to 2.4.8 to see at which version the problem appears. But I’m no sure the addons will support such old versions of inpustream.adaptive. I’ll try someday.

[2021-09-01 10:16] thombet commented on #783
@matthuisman

I tried to test with [the build you sent in the forum](https://jenkins.kodi.tv/job/xbmc/job/inputstream.adaptive/job/PR-786/1/artifact/cmake/addons/build/zips/inputstream.adaptive+osx-x86_64/inputstream.adaptive-2.4.8.zip) on Kodi 18.9 MacOS but for some reason there is no chapter listed in the OSD "bookmarks" menu so I cannot confirm whether it solves the issue :(
Any settings in Di

[2021-09-01 10:18] thombet commented on #787
If it helps I am almost sure I have the same problem on OSMC so I think it is not only a MacOS issue.

[2021-09-01 10:27] matthuisman commented on #783
umm no. no reason the chapters / bookmarks should be affected.
you sure they usually work in 18.9?
You can still test by seeking / ffwding or using the skip credits setting?

[2021-09-01 15:19] qutub11 opened #788 "Unable to play Dash .mpd file"
Dash ".mpd" links are not playing

#m3u

#KODIPROP:inputstream.adaptive.license_type=com.widevine.alpha
#KODIPROP:inputstream.adaptive.license_key=https://mrpw.ptmnc01.verspective.net/?deviceId=ZGFkZmZkZjItYzQ1Mi0zM2RiLTk0OWQtM2M2YmY1YzZjMDNi||R{SSM}|
#EXTINF:-1 group-title="MOVIES" tvg-logo="https://www.dropbox.com/s/pv8jri42pg1bva2/zing.jpg?dl=1", ZING
https://liveanevia.mncnow.id/live/eds/Zing/

[2021-09-01 16:25] thombet commented on #783
I played a local MKV file which contains chapters and they were listed so I think they work.
@Badsheep do you have chapters on MacOS Kodi 18 when playing a Marvel movie in Disney+ add-on? (e.g. Iron Man 2)

Actually my initial assumption that Kodi crashes when seeking across chapters was wrong: what happened was that `Skip credits` was enabled so at the end of the movie the playback jumped to the

[2021-09-01 18:07] Badsheep commented on #783
You're right, I never paid attention to chapters but I just some quick tests :

With Mac OS, Kodi 18, chapters work with local but not with streaming sources (Neftlix or Disney+)
With Mac OS, Kodi 19, chapters work with local and some Disney+ movies (including Antman 2), but not with Netflix.

[2021-09-01 21:08] Badsheep commented on #787
I won't be able to do this test because I can't find the binaries before 2.4.6.
But anyway I did tests with the 3 versions available, and it was interesting :

- Mac OS, Kodi 18, input v2.4.6 > solid as rock
- Mac OS, Kodi 18, input v2.4.7 > solid as rock
- Mac OS, Kodi 18, input v2.4.8 > crashed the second time I pressed Stop.

And I don't know why but this time with  2.4.7 I wasn't able to get a

[2021-09-01 22:49] matthuisman commented on #787
can you try this on Mac OS Kodi 18:
https://jenkins.kodi.tv/job/xbmc/job/inputstream.adaptive/job/PR-786/1/artifact/cmake/addons/build/zips/inputstream.adaptive+osx-x86_64/inputstream.adaptive-2.4.8.zip

That is 2.4.8 but with that seek commit removed.

[2021-09-01 23:10] glennguy commented on #787
Could you have a look for a crash file. From the Kodi wiki:

OS X will always create a Crashreporter log if any application crashes. These are found in /Users/username/Library/Logs/CrashReporter/CrashReporter.log where 'username' is the login username. For the Apple TV 1, the 'username' is 'frontrow'.

If you find this for the crash caused by this issue could you attach here?

[2021-09-01 23:29] glennguy commented on #783
Kodi 18 has support for chapters with inputstreams, however the UI/OSD doesn't have the same support. Kodi 19 shows the little white dots on the OSD timeline. So you can still play inputstream content with multiple 'chapters' i.e Disney+ in Kodi 18

[2021-09-02 00:33] matthuisman commented on #788
https://liveanevia.mncnow.id/live/eds/Zing/sa_dash_vmx/Zing.mpd = 404 not found

that is not an issue with Inputstream Adaptive.

**If you have any future issues, please open a new issue and follow the template.
You must provide debug logs etc or won't get any assistance.**

[2021-09-02 00:36] matthuisman commented on #785
please get a new log with latest Inputstream Adaptive 2.6.23

Also, could you see if either of these IA builds fix the issue
They are suitable for Kodi 19 on Nvidia shield

1) https://jenkins.kodi.tv/job/xbmc/job/inputstream.adaptive/job/PR-761/13/artifact/cmake/addons/build/zips/inputstream.adaptive+android-aarch64/inputstream.adaptive-2.6.22.zip
or
2) https://jenkins.kodi.tv/job/xbmc/job/inputst

[2021-09-02 06:48] Badsheep commented on #787
I crashes I'm sorry...

glennguy I didn't found your files, the directory exists but no file CrashReporter.log in it.

I searched found something else who looks similar : Kodi_2021-09-02-084011_MacBook-Pro-de-Matthieu.crash
in Logs/DiagnosticReports/

[Here it is.](https://paste.kodi.tv/totizitumi.kodi)

[2021-09-02 07:04] matthuisman commented on #787
are you able to update to at least kodi 18.9 when testing?
older versions had various issues

[2021-09-02 07:07] Badsheep commented on #787
Ok I’ll do this next time.
I’ll test that tonight, alter work.

[2021-09-02 07:07] matthuisman commented on #787
here is the next version to try please:
https://jenkins.kodi.tv/job/xbmc/job/inputstream.adaptive/job/PR-786/2/artifact/cmake/addons/build/zips/inputstream.adaptive+osx-x86_64/inputstream.adaptive-2.4.8.zip
(basically im just removing commits until we find the culprit)

[2021-09-02 07:12] glennguy commented on #787
Thanks @Badsheep - that is the file I was after. Could you also please attach the kodi.log that goes with the crash as well (when you test tonight)? Thanks!

[2021-09-02 07:13] Badsheep commented on #787
Ok ! Thanks guys for your help

[2021-09-02 07:13] Badsheep commented on #787
Ok ! Thanks guys for your help

[2021-09-02 07:19] glennguy commented on #787
Can't see any trace of inputstream.adaptive in the stack trace, but widevine is still loaded. Also the thread that crashed has no symbols in it, making me think that widevine is causing the crash. Looking at the log posted on the forum IA has already unloaded: `ADDON: Dll Destroyed - InputStream Adaptive`

[2021-09-02 10:44] thombet commented on #787
Since I have Kodi 18.9 installed on MacOS I tested this version I hope you won't mind @Badsheep 😉
Unfortunately it sill crashes...

Here are the logs:

- [kodi.log](https://paste.kodi.tv/kavezozafo.kodi)
- [crash report](https://paste.kodi.tv/ejayemimic.kodi)

[2021-09-02 10:51] thombet commented on #783
Thanks @glennguy for the clarification.
Is there a way to display chapters and to jump to a specific chapter in Kodi 18 so that I test the build sent by Matt?

[2021-09-02 12:39] glennguy commented on #783
I think you can still skip chapters with up/down buttons, just that the OSD doesn't show it. Haven't seen in a while so not sure if my memory can tell you any more

[2021-09-02 17:17] popy2k14 commented on #785
Here are logs with the various versions.
Sadly, non of them fixes the issue.

2.6.23 kodi repo version: https://paste.kodi.tv/ijoxirexib.kodi
PR-761: https://paste.kodi.tv/racedonucu.kodi
PR-784: https://paste.kodi.tv/mujiguhaqe.kodi

I did exactly the same as stated above (rewind 1min) -> picture freezes, audio running.
Can you please look at the logs.

[2021-09-02 20:09] Badsheep commented on #787
Good idea @thombet it's better to have different sources !
I did the upgrade to 18.9.
It has just crashed for me very quickly, at the first video I stopped.

[kodi.log](https://paste.kodi.tv/iropiqefez.kodi)
[crash report](https://paste.kodi.tv/pekadiqipo.kodi)

[2021-09-02 20:10] matthuisman commented on #787
pretty sure we figured out what commit is causing.
ill post 2x more test versions shortly

UPDATE:
Ok, try

1) https://jenkins.kodi.tv/job/xbmc/job/inputstream.adaptive/job/PR-786/3/artifact/cmake/addons/build/zips/inputstream.adaptive+osx-x86_64/inputstream.adaptive-2.4.8.zip

or below if the above doesnt fix

2) https://jenkins.kodi.tv/job/xbmc/job/inputstream.adaptive/job/PR-786/4/artifact/cmak

[2021-09-02 21:53] Badsheep commented on #787
Version 1 : NO
Version 2 : YES :)

Tested with both Kodi 18.9 Disney+ and Netflix addons...
Absolutely no crashes with Disney+ (and some bugs in Netflix addon but it may be an old version and it wasn't related to the "stop" problem)

So to me the bug seems to be fixed for Kodi 18... Bravo 👍

[2021-09-02 21:54] Badsheep commented on #787
And thank you for your amazing work @matthuisman

[2021-09-02 22:23] matthuisman commented on #787
its not fixed yet, its simply we know which commit causes it :)

ill now do a 19 version with the same commit removed, so you can test.
That previous commit we removed to fix chapter seeking may have just been a "red herring"

**OK, please try this kodi 19 build:
https://jenkins.kodi.tv/job/xbmc/job/inputstream.adaptive/job/PR-784/3/artifact/cmake/addons/build/zips/inputstream.adaptive+osx-x86_64/

[2021-09-03 06:56] Badsheep commented on #787
Sorry I was carried away :)

And unfortunately this test crashed...
Kodi 19.1, up to date Disney+ and Netflix addons.
It didn't crash in Disney, and crashed in Netflix

[crash report](https://paste.kodi.tv/xegimofira.kodi)
[kodi.log](https://paste.kodi.tv/sizipunoyu.kodi)

[2021-09-03 20:41] wagnerch commented on #678
Below are deb packages for Debian Buster, they should work on Debian, Raspberry Pi OS, and OSMC as they are all derivatives of Debian Buster.

https://github.com/wagnerch/ppa

* I don't know if these packages actually work.
* Some limited testing was done in the arm32v7/debian:buster Docker container on a Raspberry Pi 4 running Raspberry Pi OS 64-bit.  That testing included compiling the testhead

[2021-09-03 20:44] matthuisman commented on #678
So that will just update glibc (and dependencies) right?
After an apt-get upgrade?
Did you bump the glib version number up?

On Sat, 4 Sep 2021, 08:41 wagnerch, ***@***.***> wrote:

[2021-09-03 20:50] wagnerch commented on #678
@matthuisman Yes, it's still based on 2.28-10, just bumped the package version to 2.28-110.1.  There are some other upstream changes on the buster branch that were never released, left those alone.  apt update && apt upgrade should pull in and install the updates.

BTW, here are the source package changes:
https://github.com/wagnerch/glibc-deb/compare/debian/2.28-10...buster-widevine

[2021-09-04 18:38] thombet commented on #783
Surprisingly the up arrow on my MacOS keyboard seeks 10 minutes ahead instead of jumping to the next chapter.

Anyway I am thinking more and more that this bug is actually the same as the one described in #787.
I propose to wait for #787 to be fixed and then to check again if this one still exists.

[2021-09-04 18:46] Badsheep commented on #783
I think the arrows jump chapter to chapter if they exist, or seek 10 minutes when there is no chapters.

[2021-09-04 21:50] bender711 commented on #678
The updated packages work in OSMC on a Raspberry Pi 3B.

I did follow the instructions in @wagnerch's [repository](https://github.com/wagnerch/ppa), followed by a `sudo apt full-update` and a reboot
Then I followed the instructions in @matthuisman's [article](https://www.matthuisman.nz/2021/05/widevine-arm-broken.html) to update the Widevine module.

One reboot later the playback of widevine-needi

[2021-09-04 22:01] samnazarko commented on #678
I’m following this (OSMC) and will update shortly.

[2021-09-04 22:06] matthuisman commented on #678
For any OSMC users who can't wait for the official fix (or want to stick with EOL Kodi 18)
the below commands in OSMC terminal will get you back in action
**Use at your own risk**
[code]

[2021-09-05 05:51] horstle commented on #678
@wagnerch Could you include "arm64tls" in the version string, so inputstreamhelper could easily detect compatibility with newer versions?

[2021-09-05 11:03] wagnerch commented on #678
@horstle I am a bit reluctant to do this in a Debian-environment (the ecosystem is a lot less controlled than LibreELEC), as the VERSION macro directly ties into gnu_get_libc_version, which could be used in autoconf scripts or anything that probes for a specific version, or perhaps expects a certain pattern.

The environment variable was an elegant minimal impact solution, perhaps I could inject s

[2021-09-05 13:26] horstle commented on #678
Currently we're planning to keep the checks, but give the option to install on a seemingly incompatible system, so it would still be helpful to be able to detect it, but not really necessary. https://github.com/emilsvennesson/script.module.inputstreamhelper/pull/446

[2021-09-05 23:14] glennguy commented on #787
@thombet @Badsheep Could you please try https://jenkins.kodi.tv/job/xbmc/job/inputstream.adaptive/job/PR-792/1/artifact/cmake/addons/build/zips/inputstream.adaptive+osx-x86_64/inputstream.adaptive-2.6.23.zip

If there's still a crash can you enable debug logging, reproduce and attach log?

Thanks

[2021-09-06 01:20] samnazarko commented on #678
I'm looking at it.
I don't see an issue if we roll out our own libc -- provided that we keep the version the same as Debian Buster.

So if I understand correctly, we can do the following to make things work with Google's CDM libraries on Buster:

- Build libc6 with SHT_RELR and TLS alignment patches
- Remove Debian patches:
[code]
- Do we need to build / ship tcmalloc library?
-  Set some environm

[2021-09-06 03:14] matthuisman commented on #678
@samnazarko

- Yes, the two patches from here: https://github.com/LibreELEC/LibreELEC.tv/tree/libreelec-9.2/packages/devel/glibc/patches/arm
- Not sure about removing debian patches - but it would seem so (https://github.com/wagnerch/glibc-deb/compare/debian/2.28-10...buster-widevine)
- nope - no need for the tcmalloc stuff anymore :)
- yes - LIBC_WIDEVINE_PATCHLEVEL=1 environment variable is all

[2021-09-06 03:15] Blaimi commented on #678
correct, that's what I did

Libwidevine needs `libtcmalloc-minimal4` as a new runtime-dependency.

Where did you get this variable from? All I found was that tcmalloc needs to be preloaded since https://github.com/emilsvennesson/script.module.inputstreamhelper/pull/443 for the detection in IA/ISH (e.g. with `LD_PRELOAD=/usr/lib/arm-linux-gnueabihf/libtcmalloc_minimal.so.4`). If the preload is not

[2021-09-06 03:17] matthuisman commented on #678
@Blaimi
Your reading "old info". things changed since then.
It was found that caused issues. 9.2.7 LibreELEC used that method and was unstable.
9.2.8 switched to the new better way that doesn't need the preload

All that is needed is: https://github.com/xbmc/inputstream.adaptive/issues/678#issuecomment-913047151
(which simply installs patched glibc, and then updates to the latest widevine cdm)

[2021-09-06 03:23] Blaimi commented on #678
Ah, OK. But is it still needed for runtime? `ldd /home/osmc/.kodi/cdm/libwidevinecdm.so` doesn't mention libtcmalloc so probably not?

EDIT: Tried it, works without the package :)

[2021-09-06 04:12] samnazarko commented on #678
@matthuisman Thanks for clarifying. I'll work on this shortly.

[2021-09-06 05:02] samnazarko commented on #678
@wagnerch Thanks for the sources and PPA.
I am trying to build for OSMC (need to adjust versioning) and tried to do a basic build with:

[code]

This is on an OSMC (armhf) system. I get:

[code]

Am I missing something obvious?

[2021-09-06 05:15] Blaimi commented on #678
You missed extracting the tar.xz. Debuild is not doing this automatically.

You can also try to `apt source glibc` and then replace the debian-directory with the one from wagnerch (which is in fact only the debian/patches directory and the Dockerfile and debian/changelog). This downloads the upstream glibc-package, places all files with their corrects names to the correct location and extracts the

[2021-09-06 07:09] Badsheep commented on #787
I crashed the second time I pressed stop, in Disney addon.

[crash report](https://paste.kodi.tv/ukutesoxim.kodi)
[Kodi.log](https://paste.kodi.tv/ozavuhubis.kodi)

[2021-09-06 09:58] wagnerch commented on #678
@samnazarko Yeah, this is what I do:
[code]

If your going to use some other container other than Docker then replace the last 2 docker commands with:
[code]

@matthuisman Summarized it all nicely, for bullseye I think you have to drop this patch (it was dropped in sid):
arm/unsubmitted-ldconfig-cache-abi.diff

And of course the same 2 patches that were added.  The environment variable can be set

[2021-09-06 13:20] glennguy commented on #787
Thanks @Badsheep , obviously it didn't fix the issue... I might get a mac VM set up sometime this week so I can debug properly.

[2021-09-07 03:43] matthuisman commented on #787
So, we know this commit fixed it: https://github.com/matthuisman/inputstream.adaptive/commit/1d7b790857968866c97856476a60380ffd2307d1

Next, I'm going to try to keep the thread stuff, but just remove the calls to CheckLicenseRenewal()

@ Badsheep
Ok, please try (this is for kodi 18 - im just going to use that for now to try narrow down):
https://jenkins.kodi.tv/job/xbmc/job/inputstream.adaptive/jo

[2021-09-07 04:18] Maven85 commented on #785
@popy2k14 I have the same problems with my Shield.

With #737 everything is fine again. Can you confirm it?
https://jenkins.kodi.tv/job/xbmc/job/inputstream.adaptive/job/PR-737/5/artifact/cmake/addons/build/zips/inputstream.adaptive+android-aarch64/inputstream.adaptive-2.6.23.zip

[2021-09-07 08:36] Badsheep commented on #787
Hello,

It crashes in Disney add-on

[crash report](https://paste.kodi.tv/akemuvucit.kodi)
[kodi Log](https://paste.kodi.tv/wiqovohufi.kodi)

[2021-09-07 10:38] popy2k14 commented on #785
@Maven85
Thanks for comming back to me here.

Do you had exactly the same issue as me: Rewind on stream causes picture to freeze, but audio keeps playing?

Will try to get my hands on soon and will post my results.

[2021-09-07 10:51] Maven85 commented on #785
@popy2k14

Yes, that was my problem too.

[2021-09-07 21:16] wagnerch commented on #678
@matthuisman Since your keep tabs on the fixes, the Raspberry Pi OS's fix will only work on Chromium.  They didn't apply the TLS alignment patch, so Kodi and other browsers still will not work.  I tested it this morning, and the test program fails for "cannot allocate memory in static TLS block".

## Installing from Raspberry Pi repository:
[code]

## Installing from my repository:
[code]

[2021-09-07 21:21] matthuisman commented on #678
oh, thats slightly annoying!
So many edge cases to track

[2021-09-07 21:26] XECDesign commented on #678
I can sort out Raspberry Pi OS. Is this all that's needed for the TLS fix?

https://github.com/LibreELEC/LibreELEC.tv/blob/libreelec-9.2/packages/devel/glibc/patches/arm/glibc-tls-libwidevinecdm.so-since-4.10.2252.0-has-TLS-with.patch

Anything else that should be added?

[2021-09-07 21:28] wagnerch commented on #678
@XECDesign Yep, that's the 2nd patch.

This is the basic test program that I have been using, if it reports the CDM Version it should be good to go.  (You need libwidevinecdm.so version 4.10.2252.0 to test with).

gcc -o cdmtest cdmtest.c -ldl
LD_LIBRARY_PATH=. ./cdmtest

[code]

[2021-09-07 21:46] XECDesign commented on #678
Cheers! Does that get rid of the need for LD_PRELOAD=path_to_widevine.so ?

[2021-09-07 21:46] matthuisman commented on #678
Yes :)
No more preload needed with the 2x patches

[2021-09-07 21:52] wagnerch commented on #678
@XECDesign Yes, also no tcmalloc required.   The only thing that may be required, and this is an Kodi + InputStream Helper requirement, is Kodi's systemd script needs an Environment= line in it something like Environment="LIBC_WIDEVINE_PATCHLEVEL=1".  I don't think the Raspberry Pi OS distribution supplies the init script, so users would have to do that manually or install the CDM manually into Ko

[2021-09-07 21:53] XECDesign commented on #678
Alright, thank you both!

[2021-09-07 21:59] #788 closed, assigned to nobody

[2021-09-07 22:52] matthuisman commented on #678
@XECDesign

Can you confirm the below is correct currently for Raspberry Pi OS

1) You have supplied your own libc6 version patched with just the below (https://github.com/LibreELEC/LibreELEC.tv/blob/libreelec-9.2/packages/devel/glibc/patches/arm/glibc-add-support-for-SHT_RELR-sections.patch)
2) You pushed update to libwidevinecdm0 that bumps the widevine cdm to 4.10.2252.0

You will soon update t

[2021-09-07 23:20] wagnerch commented on #678
@matthuisman

Yeah, the instructions you provided is correct for installing the newer CDM, patched libc6 (it's all that is required, since we are need a patched dynamic linker -- which is where both of the patches are focused) but you will get other installed dependencies with it since they are all "version locked" dependencies.  Which means the downgrade is a little more complex than just apt-get

[2021-09-07 23:28] matthuisman commented on #678
yeh, my WV install script will say "unsupported" but still allow installing.
And IAH looks like it already gives a warning but still allows installing.

Oh, my instructions actually install the newer libwidevine directly anyway.
So they won't need IAH etc to do anything.

[2021-09-08 09:06] XECDesign commented on #678
Yes

Yeah, the method used in untested was just something I was experimenting with, but that would've only worked for chromium.

[2021-09-08 10:25] popy2k14 commented on #785
@Maven85
I tried the PR 737 build but that hasn't solved the issue.
Here is the Log: https://paste.kodi.tv/uyihirelul.kodi

[2021-09-08 22:02] matthuisman commented on #678
@XECDesign
have those changes gone in?
I see a new glibc_2.31-13+rpt1+rpi1.debian.tar.xz

[2021-09-08 22:08] XECDesign commented on #678
No that's still the old one. The version is newer because that's the bullseye build. Things are a bit busy right now in general and glibc doesn't want to build in our automated build system for some reason, so it's a bit time consuming to build and test it 4 times (armhf and arm64 for buster and bullseye). Hoping it will go out tomorrow.

[2021-09-08 22:12] matthuisman commented on #678
oh, understood :)
thank you!

[2021-09-09 00:11] matthuisman commented on #787
@Badsheep
can you try this for me.

1. Update Inputstream Adaptive back to the normal repo version
2. Confirm you have crash in Disney+ when stopping
3. Go into Disney+ settings and disable ALL the settings under general
4. Now see if you still get crashes

[2021-09-09 05:59] Maven85 commented on #785
@popy2k14
Okay, it's the same problem, but maybe different causes.
I ran into the problem with Amazon VOD.

[2021-09-09 07:01] Badsheep commented on #787
I tried with Kodi 19.1 : same result, it crashes.

[2021-09-09 15:17] XECDesign commented on #678
Should be available now. Thanks again.

[2021-09-09 18:35] matthuisman commented on #678
Awesome!
Thank you for the quick fixes.

[2021-09-09 20:51] horstle commented on #678
Inputstream Helper v0.5.8 was released today and will no longer check for compatibility. Since there is no alternative to using the new library it will simply install that.
So no environment variable or special glibc version string is needed any more. Unless @matthuisman keeps the check in his script?

[2021-09-09 20:55] MastaG commented on #678
So from now on, we just need to keep patching glibc?

Op do 9 sep. 2021 22:51 schreef horstle ***@***.***>:

[2021-09-09 21:07] matthuisman commented on #678
@horstle
Biggest issue now is the user will have no idea why playback won't work if they have unsupported OS....
at least with the warning - they had a hint

[2021-09-10 09:37] horstle commented on #678
@MastaG Yes, exactly.
@matthuisman To be honest, I don't think the message would help that much. Most users would probably contact the developer of the respective addon with or without the message. If they provide a log or some system info it should be easy to find the issue.
I think it's just not worth the hassle, especially because of how unreliable the detection is.

[2021-09-10 15:25] lasmalein opened #794 "new update of widevine CDM doesn't play DRM streams through KODI - armv7 - enigma 2"
enigma2 linux-based receivers have the same issue of not being able to play drm protected streams.

 I can't stream content via Kodi and the DAZN addon, as I've seen there is an update of widevine library and it's not compatible with ARM devices. The new library is 4.10.2252.0

disney+ still works fine with the deprecated library

.2252 Widevine CDM doesn't work with armv7  enigma2 receiver

https

[2021-09-10 18:38] atvcaptain commented on #794
here now working see my last post : https://www.opena.tv/allgemeine-image-informationen/51181-kodi-18-7-mit-widevine-87.html#post483804

updates soon for all arm models with kodi support

[2021-09-10 21:52] lasmalein commented on #794
I have a zgemma h9.2h with openatv 7.0beta. Kodi is 19.1 matrix

How can I apply this patch?

[2021-09-10 22:11] lasmalein commented on #794
Is there a script I can use to patch my image? I have openatv 7.0 beta zgemma h9.2h

[2021-09-10 23:43] gerion0 opened #795 "mpd fails to parse with '&' in initialization"
## Bug report
### Describe the bug
I'm currently trying to generate a mpd manifest on my own to combine a video stream and an audio stream.
While doing so, it seems that inputstream.adaptive fails to parse mpd files, if a `&` is contained within the link.

Here is a minimal example. The following file is parsed successfully:
[code]
Kodi log output:
[code]

The following file fails to parse:
[code]

[2021-09-11 05:09] matthuisman commented on #795
**& is a special character in xml ...
Url encode it.**

Please close the issue
Please also try a bit of googling next time :)

[2021-09-11 05:13] matthuisman commented on #794
This is not an inputstream adaptive issue.
And it's also a duplicate: https://github.com/xbmc/inputstream.adaptive/issues/678

Please close and follow up with your os

[2021-09-11 08:16] #794 closed, assigned to nobody

[2021-09-12 11:53] gerion0 commented on #795
Sorry, haven't thought about this. You're right of course. (My googling has always contained the keywords Kodi/inputstream/mpd so it doesn't lead to a result.)

[2021-09-12 11:53] #795 closed, assigned to nobody

[2021-09-12 13:30] gerion0 opened #797 "Playing a videostream and audiostream simultaneously"
## Bug report
### Describe the bug

This isn't directly a bug, just a question to understand inputstream.adaptive's behavior without reading the source code.

I'm currently working on the Youtube support for [plugin.video.sendtokodi](https://github.com/firsttris/plugin.video.sendtokodi). Currently, this plugin asks Youtube with youtube-dl for a (video and audio combined) stream URL, gets one strea

[2021-09-12 13:49] anxdpanic commented on #797
The YouTube and Tubed add-ons both do this, generate a custom `mpd` to use for playback based on quality selection and availability.
https://github.com/anxdpanic/script.module.tubed.api/blob/master/resources/lib/src/tubed_api/usher/lib/mpeg_dash.py

[2021-09-12 19:02] gerion0 commented on #797
Thanks, I will take a look into it. From a quick look in the code the generated mpd contains a lot of more information. Do you know, if this information (bitrate, framerate, ...) is necessary for a proper working?

[2021-09-12 19:13] anxdpanic commented on #797
I'm not sure if _all_ of it is necessary, but some of it definitely helps avoid unwanted side-effects (ie. framerate avoids a refresh rate switch in Kodi). All the information available was used just to avoid any other potential situations. The majority if not all the required information should be parsable from the url.

[2021-09-13 22:47] AlwinEsch opened #798 "Kodi 19 Matrix / Kodi 20 Nexus - Version change inform"
**As this is the most used addon from Kodi, I am creating this issue to inform you about the following changes.**

Because the addon is not yet a branch for Kodi Nexus, it must be created.
Therefore, the default branch will also be changed and all pull requests will be swapped to it, so if a change to the Kodi Matrix version is to be made, a backport request must also be created again.

In additio

[2021-09-14 14:53] AlwinEsch commented on #798
The new releases with 19.0.0-Matrix and 20.0.0-Nexus are now there, all requests (expept 1) which was set before to Kodi Matrix are swapped now to Kodi Nexus.

The one where not https://github.com/xbmc/inputstream.adaptive/pull/791, there it can maybe closed as a version increase about not match now.

[2021-09-14 21:40] fernandoalonzo commented on #155
I just want to mention that this has a limitation in the string length after the pipe, which seems to be ~1KB. I have some streams that require a pretty long authorization token (almost 2KB), which always gets truncated and passed to the server, thus making impossible to play the stream. I'm not sure how to workaround this problem, might open a new issue to see if anybody knows.

[2021-09-14 21:55] matthuisman commented on #155
you'd need to use your own proxy and add the header to the call yourself

[2021-09-14 22:10] fernandoalonzo commented on #155
Hey thanks for the quick response! I thought about writing my own proxy but the license key URI is in the m3u8 playlist itself, which doesn't seem possible to overwrite (with custom KODIPROP), unless I download the playlist and replace it everywhere.

[2021-09-14 22:47] matthuisman opened #804 "[Dash] Location / Partial Updates"
Finally found a service (Hulu live channes) that uses location.
It uses it with live streams so on a refresh, a smaller "update" manifest can be used.

When we find a location tag, that url should be used for the next refresh.
If that manifest has a location, we use that for the next... so on

Not sure behaviour of no location.
I assume just uses the last found.

It seems we are grabbing it here:

[2021-09-14 22:48] glennguy commented on #155
Does the same limitation exist if you play via a python add-on?
I don't think the hard limit is happening in the code in inputstream.adaptive....

[2021-09-14 22:55] matthuisman commented on #155
maybe same issue as this:
https://github.com/xbmc/xbmc/issues/20001

[2021-09-15 05:10] michaelarnauts commented on #804
I guess this is the same issue as https://github.com/xbmc/inputstream.adaptive/issues/286, but I couldn't reopen that issue and I made a workaround for it in VTM Go :)

[2021-09-17 20:20] dev77-07 opened #805 "Stops playing after 4 seconds"
## Bug report
### Describe the bug
Here is a clear and concise description of what the problem is:

When trying to play a Discovery+ m3u8 file, it plays the first 4 seconds and then stops playing.

## Expected Behavior
Here is a clear and concise description of what was expected to happen:

Play entire video

## Actual Behavior

## Possible Fix

### To Reproduce
Steps to reproduce the behavior:

1

[2021-09-18 06:08] matthuisman commented on #805
.m4f files = fragmented mp4
which we do support with Dash files (pretty much all dash use it)

we check for supported HLS file extensions here:
https://github.com/xbmc/inputstream.adaptive/blob/Nexus/src/parser/HLSTree.cpp#L481
m4f  isn't there, so it will default to CONTAINERTYPE_INVALID

maybe we just need to treat m4f as mp4...
ill get you a PR to test (for kodi 19 only)

UPDATE:
try a build fr

[2021-09-18 11:17] glennguy commented on #805
I don't think that will change anything for this situation. Container type would be set to MP4 already because of the init segment

@yeahme49 it would be useful to see an entire log not just a snippet. Also can see that you might be using the up next add-on, please disable or uninstall it. Better yet, see if this happens in a clean installation.

[2021-09-18 14:06] dev77-07 commented on #805
Here is a new log file https://pastebin.pl/view/a223e4f8 (too large for paste.kodi.tv). Fresh Kodi 19.1 install using the test build of ISA. I also enabled some component-specific logging, not sure if that helps or not.

Had the same issue with the test build, stops after 4 seconds. It's also playing the 640x360 file instead of 4k so I must have something configured wrong in this fresh install of

[2021-09-19 22:34] matthuisman opened #809 "[Dash] Webvtt segments with SegmentTemplate is not implemented"
they show in kodi gui, but no segments are ever attempted to be downloaded

HBO Max - Suicide Squad
[code]

[2021-09-22 22:48] Emrvb commented on #774
@CastagnaIT

I started experiencing the same problem since a few weeks, some series just wouldn't play anymore, locking up my media player.
I checked and HEVC profiles were indeed enabled.

I got this device less than a year ago with a clean install and configuration. The only special thing that happened is that I upgraded from Leia to Matrix.

Is there any chance the toggle for this option is hid

[2021-09-23 06:43] CastagnaIT commented on #774
Kodi devs do not recommend a direct upgrade of Kodi major version
due to possible side effects with the various components
all users that need to do an upgrade of major version should reinstall kodi from scratch
To try fix you can try to do this:

Addon expert settings-->Run addon configuration wizard

if fails reinstall the addon by deleting user data when prompt

[2021-09-23 09:46] Emrvb commented on #774
@CastagnaIT

I already fixed it by editing the settings xml file.

I understand upgrading is not recommended but I would find it odd upgrading would change this setting. Coming to think of it, I've had a similar issue before (pre upgrade) which I resolved by reinstalling the addon. I'll check if I have a backup of the logfile somewhere to see if it's the same issue.

Just consider this a heads up

[2021-09-23 22:01] matthuisman commented on #787
@Badsheep
can you advise the Widevine CDM version your using?
I'm starting to think these crashes started when we went to the latest 4.10.2252.0
If you downgrade that to 4.10.1679.0 and reboot. then do you get the crash in Disney+?
Pretty sure disney+ still works with 4.10.1679.0

[2021-09-24 07:14] Badsheep commented on #787
Hello,
I'm actually using 4.10.2233.0.
I'll try to downgrade and tell you, but I don't know how do that... I'll try and ask you if I don't find the way.

Do I have to downgrade inputstream helper ? I have the 0.57 version installed actually.

[2021-09-24 11:22] Badsheep commented on #787
OK now I understand how it works...

I haven't the 4.10.1679.0, but I found an old 4.10.1582.1 in old backups.
I just replaced the "cmd" folder (is it the right method ? It seems so because inputstream helper display the right version)

And it still crashes. (with the uptodate inputstream adaptive 2.4.8).

I'll try to find a 4.10.1679.0 and I'll try too.

[2021-09-24 12:02] Badsheep commented on #787
I'm sorry I can't find a libwidevinecdm.dylib in 4.10.1679.0 version anywhere on the web...

[2021-09-24 13:29] Badsheep commented on #787
I found a link where to download versions :
https://redirector.gvt1.com/edgedl/widevine-cdm/903-mac-x64.zip

When I replace "903" with one of this numbers of versions, I can download them :

1.4.9.1088
4.10.1146.0
4.10.1192.0
4.10.1196.0
4.10.1440.18
4.10.1440.19
4.10.1582.1
4.10.1582.2
4.10.2209.0
4.10.2209.0
4.10.2209.1

But the version you ask is not listed.
Do you want me to try one of this ve

[2021-09-24 19:05] matthuisman commented on #787
Thank you
My hunch was wrong it appears.

Can you check if changing audio track during playback also causes crash?

[2021-09-24 20:24] Badsheep commented on #787
Hello,
No problem with audio switching during playback.

[2021-09-24 20:32] Badsheep commented on #787
But I just noticed that often when I hit "command q" to leave Kodi (the Mac OS shortcut to quit an application) :

- if I'm not in Disney or Netflix addon > it quits properly
- if I'm playing a video in Disney or Netflix addon > It often crashes the same way that when I press stop

May it be interesting ?

[2021-09-27 13:54] Zoom-Adr opened #811 "Support for clearkey"
is there any development for clearkey support soon?

[2021-09-27 16:21] mtr81 opened #812 "Addon works fine in Windows and does not work in Android"
I wrote simple addon video for Kodi 19.1 to watch online tv CSTAR (content protected DRM)
The problem is that in Windows 10 addon works fine, but in Android (tested in ver 6 and 7) doesn't work.
Error: license server send response without key. From logs I see that the difference is in content-length sended to license server - in Windows: 3219 bytes, in Android only 803 bytes.

Addon's code:

[code

[2021-09-27 23:12] glennguy commented on #812
Not really an inputstream.adaptive problem but I'll give some help.
You should be able to see the challenge and response files, they're located in the "profile" / cdm folder (%appdata%\Kodi\cdm by default on Windows, not sure off the top of my head on Android):
![image](https://user-images.githubusercontent.com/11909320/134997342-58cd4003-c600-49b3-b4aa-01d64d55c524.png)

The response file might h

[2021-09-28 01:06] mtr81 commented on #812
On Android device I have also file .post which includes request data where key "ChallengeInfo" have value "CAQ=".  CHALLENGE file is empty . There are some differences in data INIT files.

[2021-09-28 02:58] glennguy commented on #812
CAQ= (\x08\x04) is used by the cdm to get a certificate... my memory is not 100% but it's used on other platforms for VMP. On Windows it will send the CAQ= challenge first to get the certificate back, then send the actual challenge next. This can be seen when using a browser or another player which is VMP certified. Kodi will definitely not do this on non Android platforms.

What you really need t

[2021-09-28 11:50] #726 closed, assigned to nobody

[2021-09-28 12:09] #667 closed, assigned to nobody

[2021-09-28 12:11] #580 closed, assigned to nobody

[2021-09-28 12:11] #579 closed, assigned to nobody

[2021-09-28 12:12] glennguy commented on #392
Fixed in #732

[2021-09-28 12:12] #392 closed

[2021-09-28 12:13] #347 closed

[2021-09-28 12:13] #290 closed

[2021-09-28 12:14] #212 closed

[2021-09-28 12:14] glennguy commented on #192
Fixed in Kodi 19 (kodi 18 has a hard limit of 32 streams for inputstream addons)

[2021-09-28 12:14] #192 closed

[2021-09-28 12:18] glennguy commented on #768
@spacex97 sorry we never gave any help on this, did you end up solving the issue?

[2021-09-28 12:24] glennguy commented on #805
@yeahme49 thanks for the log.

It's possible beyond my capabilities to solve this one, and there's only so much to find in a log file. If there was a non-DRM publically available stream to test which has the same attributes and reproduces the same problem it would help a lot.

[2021-09-28 12:26] glennguy commented on #797
@gerion0 how did you go?
Can the issue be closed?

[2021-09-29 08:34] gerion0 commented on #797
No progress on the main issue.

I played around a little bit und [tried to reproduce](https://github.com/gerion0/plugin.video.sendtokodi/blob/dash/lib/extractor.py) the MPD files from the Tubed addon. The produced files looks like:
[code]

These files do not play at all, the correct encoders are loaded but the stream itself is not downloaded.

My guess it that the `<Initialization range="0-0" />`

[2021-09-29 08:41] gerion0 commented on #797
In it's core my question is:

Given the two URLs:
- http://download.tsi.telecom-paristech.fr/gpac/DASH_CONFORMANCE/TelecomParisTech/mp4-live/mp4-live-mpd-AV-BS_set1_init.mp4 (for video)
- http://download.tsi.telecom-paristech.fr/gpac/DASH_CONFORMANCE/TelecomParisTech/mp4-live/mp4-live-mpd-AV-BS_set2_init.mp4 (for audio)

How must a MPD file which contains these URLS look like so Kodi is playing th

[2021-09-29 11:17] kontell commented on #785
I've got the issue with seeking backwards during livestreams only. Forwards works fine and both work for on demand content.

It occurs in both Matt's Sky Sport Now addon and the YouTube addon. A workaround for SSN is to toggle the audio setting "Allow passthrough". This doesn't work for YT but changing the video stream does.

The issue is on a Shield Pro, I have an FTV4K with an identical setup th

[2021-10-02 09:33] lpuglia commented on #582
Latest inputstream adaptive version, solved my problem, thanks!

[2021-10-02 09:33] #582 closed, assigned to nobody

[2021-10-02 15:28] mtr81 commented on #812
@glennguy thanks for your help
I found that license server need to certificate, so I added to code:

[code]
and then in ISA section:
`play_item.setProperty('inputstream.adaptive.server_certificate', certificate_data)`

In this way plugin works on Android device now.

BTW. I will close issue soon, but can you tell me how it's possible that on windows streaming run without certificate data?

[2021-10-03 13:54] #203 closed

[2021-10-03 13:57] M2k80 commented on #203
i closed it, if i see this problem again, i will open a new ticket

[2021-10-03 19:13] mtr81 commented on #775
The same problem:
Manifest -> [manifest.txt](https://github.com/xbmc/inputstream.adaptive/files/7274394/manifest.txt)
Full debug log ->[kodi.log.txt](https://github.com/xbmc/inputstream.adaptive/files/7274382/kodi.log.txt)

[2021-10-03 19:14] #812 closed, assigned to nobody

[2021-10-03 19:15] mtr81 commented on #812
Problem solved.

[2021-10-04 02:07] glennguy commented on #812
I could be incorrect about these details but Windows/Linux/macOS are limited to L3 (usually 720p), and this doesn't require certificates/signing. The Kodi executable is not signed with google's cert (this is what Verified Media Path is about) unlike Chrome/Firefox/Edge etc. and doesn't try to perform the certificate exchange as the CDM knows it's not signed.

[2021-10-04 02:18] glennguy commented on #775
@mtr81 thanks for the logs! Looks to be the same issue as reported in OP.

Don't have time just right now to dive in but this is what the concern is:
[code]

1006 being the audio stream, audio streams aren't meant to use a secure path.... will have to find out why this is getting set this way.

Something to note (for me) is that all streams (audio and video) are using the same PSSH/KID

[2021-10-04 02:32] matthuisman commented on #775
@glennguy
another thing to note - that manifest above your last comment only has a single adaptation set which has contentType="video"

[2021-10-04 02:51] glennguy commented on #775
Check again, the formatting is really messed up but there looks like one adp per representation

[2021-10-04 03:20] matthuisman commented on #775
oops! my text editor just highlighted the top and bottom and not the rest so looked like just 1. i should have done a search.

[2021-10-04 10:16] glennguy commented on #797
Ok

Mp4 can be packaged in two ways:
* One large file
* Separate segment files (fragmented mp4)

All mp4s have initialization data, usually a small size (~1000 bytes) that tells the video player information like resolution, codecs, profiles etc.

Some segmented mp4 will include the init data with each segment but this is wasteful, so a 'initialization segment' is created separately so the same 100

[2021-10-04 11:12] gerion0 commented on #797
Thanks for the explanation.

What happens, if no such ending exists in the MPD? In the example given in my initial post no init segment is given. In this case, inputstream.adaptive seems to download the whole stream. Is this to search for the init segment?

What happens, if the ending mentioned in the MPD is incorrect/point to data behind the actual ending (e.g. always the first MiB)? Does inputst

[2021-10-04 14:08] CastagnaIT commented on #773
i have finish to develop the real WebVTT parser in Kodi core,
and currently is fully functional with external files (*.vtt),
(although I have already started writing part of the implementation for now this not include WebVTT ISOBMFF format type, need to be developed after make full working the regular text based format type)

I am one step closer to eliminate the fake WebVTT implementation of ISA

[2021-10-04 22:21] glennguy commented on #797
The answer to the second question could be found by just trying.
The example in the OP isn't making sense to me compared to the log, are you sure that exact mpd generated that log?

I've done a little more research for you.

An example of a working mpd is [here](https://github.com/xbmc/inputstream.adaptive/blob/Nexus/src/test/manifests/mpd/segmentbase.mpd)

The initialization range refers to the l

[2021-10-04 22:27] mtr81 commented on #775
Same device and other manifest - same result:
manifest: https://npobvn-prd.cdn.eurovisioncdn.net/live/npo/u/npo/drm/dash_cenc/bvn/0/0/0/bvn.isml/stream.mpd
kodi log ->[kodi.log.txt](https://github.com/xbmc/inputstream.adaptive/files/7281633/kodi.log.txt)

[2021-10-05 04:24] glennguy commented on #773
Is the current Nexus release (i.e without your changes) crashing as well?

[2021-10-05 05:59] CastagnaIT commented on #773
without my commit seem there are no crashes

[2021-10-05 06:16] glennguy commented on #773
Do you have a crashlog dmp file you could attach here?

[2021-10-05 06:26] CastagnaIT commented on #773
here,
LOG: https://paste.kodi.tv/ebihutikez.kodi
related DMP: [kodi_crashlog-20.0-ALPHA1 Git_20211004-708c424318-20211005-082419.dmp.zip](https://github.com/xbmc/inputstream.adaptive/files/7283281/kodi_crashlog-20.0-ALPHA1.Git_20211004-708c424318-20211005-082419.dmp.zip)

[2021-10-05 11:23] glennguy commented on #773
Hmm I haven't got your xbmc branch loaded so can't see anything, I would suggest building locally and running with the debugger.
Try this unprotected test stream: https://dash.akamaized.net/akamai/test/caption_test/ElephantsDream/elephants_dream_480p_heaac5_1_https.mpd to avoid widevinecdm crashing the debugger

[2021-10-05 11:24] glennguy commented on #773
Whoops lol, too slow - you found the issue

[2021-10-05 16:50] CastagnaIT commented on #773
that was an error, but not works good again...

i had not yet tried to play a video for a few minutes only tried if starts,
and i have found that the video stop without reason after about more or less a minute

I thought it was a problem with the code I'm working on, but it's other that has problems
https://paste.kodi.tv/ajesoyeyoc.kodi
because now i have tested on a fresh kodi 20 nightly + nfx

i

[2021-10-05 20:24] matthuisman opened #817 "Seeking fwd can cause pixalation on some streams"
fixed with: https://github.com/xbmc/inputstream.adaptive/pull/819

[2021-10-05 22:29] glennguy commented on #773
yes `DEMUX_SPECIALID_STREAMCHANGE` is a special packet sent to Kodi to let it know to reset/reinitialize the player. Only video streams are bitrate switched, audio and subs are left alone.

From looking at the log when the switch occurs this happens in the log `AddOnLog: inputstream.adaptive: WVDecoder initialization returned status 3`

Status 3 is `kInitializationError`

Perhaps this may be relat

[2021-10-06 06:50] CastagnaIT opened #818 "[Kodi 20] Video stops after about one minute"
## Bug report
### Describe the bug
Here is a clear and concise description of what the problem is:

When I start a video with Ntfx add-on the playback stops after about one minute.
Ref. https://github.com/CastagnaIT/plugin.video.netflix/issues/1237

I mentioned the problem here #773, and have now opened an Issue to keep track of the problem

---

Here i report some investigations of @glennguy (ans

[2021-10-06 07:34] CastagnaIT commented on #818
I can say this, "preinit" should takes place before any other drm initialisation, with single execution only,
i.e. should happens before other operations to start the video, not afterwards (as an example switch stream) is only intended to allow the add-on to download the manifest

when it happen we can find this line:
`DEBUG <general>: AddOnLog: inputstream.adaptive: Session::PreInitializeDRM - In

[2021-10-06 21:50] #647 closed, assigned to nobody

[2021-10-06 22:07] #817 closed, assigned to nobody

[2021-10-07 02:43] glennguy commented on #818
The issue I think is around NF using AnnexB/secure path and VideoCodec to pass data to Kodi as that is where the `kInitializationError` message is coming from.

I've come up with issues when using AnnexB with multiple periods. As the transition to a new period begins with the stream change signal, the decoder is reset and a new data is fed into Kodi. However, the content from the period that is en

[2021-10-07 02:50] glennguy commented on #818
It may or may not be possible to solve in IA only. My gut feeling at the moment about why it's failing is that widevinecdm doesn't like us calling `InitializeVideoDecoder` when already initialized (would need to deinitialize first but what happens to undecoded content?)

If a quick solution can't be found, then maybe we consider an option to disable stream switching.

[2021-10-07 06:46] CastagnaIT commented on #818
Unfortunately, i am unable to help in this
but i can try to ask who could help with kodi devs

I think that in any case it might be a good idea to add this option, in two ways, something like this:
-set it by ListItem (addon choice)
-set it by ISA settings (user choice, but overrided by addon choice)

[2021-10-07 07:16] CastagnaIT commented on #818
On Kodi 19 when i select another video stream manually, the video image freezes permanently, the sound is regular
https://paste.kodi.tv/ovecihihuz.kodi
(same problem happen on kodi 18)

[2021-10-07 11:17] glennguy commented on #818
Hmm same cause, slightly different effects - either way you can't continue watching.

Btw an outstanding issue is that 'manual' stream selection in v20 doesn't stop the automatic switching, however you can see all video streams in the OSD and change manually, just that it will be overridden. Should be just a case of passing in another variable to AdaptiveStream constructor.

Agree that we can have

[2021-10-07 11:34] glennguy commented on #818
My brief analysis is:
In this function here https://github.com/xbmc/inputstream.adaptive/blob/359e8854d258d5a8a1d93cd4025a4654b80e6feb/src/main.cpp#L4014 we refer to the decrypter here https://github.com/xbmc/inputstream.adaptive/blob/359e8854d258d5a8a1d93cd4025a4654b80e6feb/src/main.cpp#L4049-L4050 which is session wide.  If we want this to work it looks like we'll need more than 1. I haven't loo

[2021-10-07 11:36] glennguy commented on #811
It's not super high on the priority list - are there any services that use it?

[2021-10-07 16:18] CastagnaIT commented on #818
i have tried limit the bandwidth via software to try emulate different situations with webbrowser video playback but nothing of useful happen lost the buffering only without a real stream switching in realtime, i think the network speed is verified in a different way, also i do not see any widevine reference in the website log, i do not know how i can help
maybe your proposal to use different sess

[2021-10-08 01:02] dev77-07 commented on #805
I was able to pass along an enable DRM parameter which then provides an mpd file instead of m3u8 from discovery+. When trying to play this version, kodi just spins and spins.

Debug log https://paste.kodi.tv/xonisamemi.kodi

I see some Decrypt failed with error: 2. Not sure if that is causing the file to not play or if that error is normal. What does error: 2 mean?

https://paste.kodi.tv/adewujilo

[2021-10-08 08:06] #730 closed, assigned to nobody

[2021-10-08 09:58] CastagnaIT commented on #773
Do you know a test MPD with subtitle stream of webvtt ISOBFF format type?

if i want to test a MPD there is a easy way to test it, or is needed some kind of test addon?

[2021-10-08 11:28] CastagnaIT commented on #773
i have found this MPD
http://media.axprod.net/ExoPlayer/Captions/Manifest.mpd
should have webvtt ISOBFF format
how i can test it?

[2021-10-08 11:39] glennguy commented on #773
Just make a .strm file is the easiest way.
Put this in a file called eg. `test.strm` :
[code]

Then open through file manager in Kodi. I usually dump them in the profile folder, easy to access.

[2021-10-08 11:47] CastagnaIT commented on #773
thanks works!
~subtitles are listed but not displayed, something is not working i do not know~
I will try to investigate

update:
the link above have mp4 with wrong mime type
this one works: http://media.axprod.net/ExoPlayer/Captions2/Manifest.mpd

[2021-10-09 11:49] glennguy commented on #818
@CastagnaIT looking at this now. I can get stream switching happening without playback stopping on the parkour widevine test stream. I'm forcing it to use Annex B / Crypto session and the picture freezes but comes back after some seconds. The video decoder initializes properly (returns 0)

I was having a look at the cdm headers and it has this to say about your return code 3:
[code]

I'm now think

[2021-10-10 17:00] CastagnaIT commented on #818
Yes you remember correctly, NF addon generate the MPD manually via proxy
this is an example:
[manifest.mpd.txt](https://github.com/xbmc/inputstream.adaptive/files/7317857/manifest.mpd.txt)
that has been converted from ntfx manifest:
[manifest.json.txt](https://github.com/xbmc/inputstream.adaptive/files/7317858/manifest.json.txt)

if you need to make some changes or add data you can do so

[2021-10-12 04:42] glennguy commented on #818
Hey thanks for the examples.

A couple of observations:
* the representation ids would normally be unique, I think it would only cause issues with live updates (Does NF even have live streams?) but you could try to use `downloadable_id` instead
* The SegmentBase indexRange - it doesn't look right, looking at the source this is being calculated based on the content duration. This attribute is wanti

[2021-10-12 06:14] CastagnaIT commented on #818
thank you i will correct the wrong data

[2021-10-12 07:36] CastagnaIT commented on #818
i have tried do the changes, and test it on Kodi 19, but Kodi crash without stacktrace
https://paste.kodi.tv/ufuwapewob.kodi
[manifest.json.txt](https://github.com/xbmc/inputstream.adaptive/files/7327845/manifest.json.txt)
[manifest.mpd.txt](https://github.com/xbmc/inputstream.adaptive/files/7327847/manifest.mpd.txt)

[2021-10-12 11:06] glennguy commented on #818
I think the problem now becomes narrowed down, something incorrect must be happening in DASHTree.cpp

Stream 1006 is the video stream, that opens fine, correct range is downloaded: `Range: bytes=1846-20886`

Stream 1010 is audio and also opens correctly with the byterange in the manifest: `Range: bytes=861-43309`

~~But then stream 1028 is opened which is the text track according to url, and `Rang

[2021-10-12 13:34] CastagnaIT commented on #818
please write to me a message on Kodi slack
so i can identify you

[2021-10-13 07:10] CastagnaIT commented on #818
Your new changes to the SegmentBase has worked now the playback starts (on Kodi 19)
try recheck if the new mpd data is ok:
[manifest.mpd.txt](https://github.com/xbmc/inputstream.adaptive/files/7335672/manifest.mpd.txt)
[manifest.json.txt](https://github.com/xbmc/inputstream.adaptive/files/7335673/manifest.json.txt)
https://paste.kodi.tv/okiyizuniy.kodi

On Kodi 20 still crash as before

[2021-10-14 06:28] matthuisman opened #821 "[Dash] Tries to play vod from -22:04:40"
Trying to play the attached manifest and kodi tries to start playback at -22:04:40
If i seek, it'll just then jump to 00:00:00 and start playing.
Also the total time then gets corrected (2nd screenshot)
Or if I set resume from 1 on starting playback.

Seems maybe the total time is being calculated wrong?
Or the manifest is bad?
Maybe there is something we can do to ensure we always play vod from 0

[2021-10-14 10:03] CastagnaIT commented on #818
Thanks to investigate in this,
i will test the proposed changes in next days to make sure that there are no others problems

[2021-10-17 14:52] CastagnaIT opened #828 "[Kodi 20] Seek foreward/backward cause image freeze strange behaviours"
## Bug report
### Describe the bug
Here is a clear and concise description of what the problem is:

I was testing webvtt but the playback of the sample video not works good
so when you seek foreward/backward cause image freeze in apparence is possible that something wrong happen with stream buffering (instead in Kodi 19 is played correctly)

It is not a kodi problem because if on kodi 20 i replace

[2021-10-17 14:56] CastagnaIT commented on #818
No problems in last 2 days, then i close the issue

[2021-10-17 14:56] #818 closed, assigned to nobody

[2021-10-17 17:32] dobo90 opened #829 "SIGSEGV in AP4_LinearReader::GetSample (tracker->m_SampleTable is NULL)"
## Bug report
### Describe the bug
Here is a clear and concise description of what the problem is:

I've compiled latest inputstream.adaptive from Nexus branch (c08955927f) and it crashes when playing stream from Polish Canal+ service.

I've debbuged it using gdb. And the oputput is following:
[code]

## Expected Behavior
Here is a clear and concise description of what was expected to happen:
Kodi

[2021-10-17 19:21] dobo90 commented on #829
A small update: reverting #737 indeed fixes the issue (```git revert d794c58c394efcc87835a0be29c7e1df15663fcd -m 1```). Please let me know if I can provide more info or somehow help fixing the issue.

[2021-10-17 23:43] glennguy commented on #828
Yep can see here too.

One thing I've noticed is the connection speed on this stream is very unstable, looking at the logs my first suspicion is that ISA wants to finish the download queue before continuing with the task of seeking. Will look properly later today/tonight

[2021-10-17 23:45] glennguy commented on #829
Thanks heaps for the report @dobo90

Would it be possible to get a copy of the mpd file and a log with debug logging enabled (no component logging though please)?

[2021-10-18 04:08] fedevx commented on #678
Didn't see any confirmation for Arch Linux, so adding an entry in case someone is interested.

On Arch Linux for ARM adding the two patches to glibc's PKGBUILD file does fix the issue. I had to correct "glibc-add-support-for-SHT_RELR-sections.patch" because it was failing to apply the first change to elf.h (likely a misalignment in the lines) for glibc-2.33-5.

Kodi is able to play the streams wit

[2021-10-18 10:01] dobo90 commented on #829
Sure @glennguy
Manifest: https://paste.kodi.tv/irejizobox
Debug logs: https://paste.kodi.tv/owurimarej.kodi

Btw, I've searched through the newest history of bento4 repository. I've cherry-picked two related commits but it didn't help:
https://github.com/axiomatic-systems/Bento4/commit/c12999825dc9be15062b7f980ae85bc2c878f911
https://github.com/axiomatic-systems/Bento4/commit/5922ba762af468c2066c0

[2021-10-18 11:54] wagnerch commented on #678
Yeah, I think there was some mention earlier from @graysky2 that Arch wouldn't pick up these patches.  It's a similar situation for Fedora and any generic OS distribution.  Good news is the RELR patch may be upstreamed, there is a renewed push from Google and Cary Coutant has taken maintainership over the gabi which was the blocker to upstreaming.

The TLS patch, not so much, from what I have seen

[2021-10-19 04:54] glennguy commented on #829
Thanks for that.

Haven't had time to look properly but the problem is for some reason the sample table hasn't been assigned to the tracker: `m_SampleTable = 0x0`

Would you also be able to post the audio segment that starts downloading before the crash? Like https://opl-n02.cdn-ncplus.pl/live/store01/AlekinoplusHD/hd2-hssdrm02.isml/QualityLevels(128000)/Fragments(audio-20001=2144802716287333)

[2021-10-19 11:42] glennguy commented on #687
Yes I think you're completely right. The implementation was the first implementation of fmp4 for hls (separate segment fmp4 didn't happen until disney+) and the init segment is always at 0 anyway:
https://github.com/xbmc/inputstream.adaptive/blob/c08955927f2aabdd1521bcb0ae070ac23b69d504/src/parser/HLSTree.cpp#L698
... seems that TS doesn't like it - `AVContext::configure_ts()` fails in tsDemuxer.c

[2021-10-19 12:00] CastagnaIT commented on #829
maybe I'm off track and it doesn't depend on this
but there is this line where has been added `ids.ItemCount()==1 ||` (in matrix)
https://github.com/xbmc/inputstream.adaptive/blame/Matrix/lib/libbento4/Core/Ap4LinearReader.cpp#L320
and i have not found it in bento4 upstream sources history
maybe it is part of our custom undocumented changes?

@dobo90 you can try test by re-adding manually this con

[2021-10-19 12:27] glennguy commented on #686
Do you have any other streams to test with aac audio? I think I have a fix.

[2021-10-19 12:46] dobo90 commented on #829
@CastagnaIT

Applying following patch has fixed the issue. Thanks a lot, that was quick!

[code]

[2021-10-19 12:50] CastagnaIT commented on #829
as you also described this seem a kind of hack
it would be useful to understand why the ID's not match

[2021-10-19 12:54] dobo90 commented on #829
Please let me know if you want me to add debug logs somewhere.

wt., 19 paź 2021, 14:51 użytkownik Stefano Gottardo <
***@***.***> napisał:

[2021-10-19 13:24] anishsane commented on #378
@Sorien, have you found the solution for this? I am also seeing this issue.

My `inputstream.adaptive.license_key` contains some URL. It does not specify the headers or body. Just `https://url`.
The request sent by curl contains the large payload.
The license server responds with: Invalid license challenge.

If I include the payload as `||R{SSM}|`, I either get the same error or I get "device is r

[2021-10-19 13:47] CastagnaIT opened #830 "[Kodi20] Play non-DRM video sometimes freeze or other side effects (100mb lan)"
## Bug report
### Describe the bug
Here is a clear and concise description of what the problem is:

Mainly happens to me when i use my HTPC on the 100mb Lan,
and i play Netfx non-DRM videos, like the trailers

an example in the ntfx addon with "Dear mother" trailer:
Menu "news and popular" --> "coming next week" -->click on "Dear mother"

There are two different behaviours that happen to me
**case

[2021-10-19 18:00] CastagnaIT commented on #829
Unfortunately i have little knowledge of this library but maybe @glennguy or @matthuisman know a bit better investigate on it

[2021-10-19 18:07] Sorien commented on #378
@anishsane in my case payload was ok but my provider turned on VMP (Verified media path) so only L1 certified devices and google signed browsers were able to get keys from the license server.

[2021-10-19 18:09] CastagnaIT commented on #805
from what i know the widevine library for windows not support H265/HEVC streams
you can use it on Android only

[2021-10-19 20:05] matthuisman commented on #687
@glennguy awesome - great work!
Let me know if you need anything more from me :)
Was you do a PR, I can test as well

[2021-10-19 20:25] matthuisman commented on #686
Yes, found one!
https://storage.googleapis.com/shaka-demo-assets/apple-advanced-stream-ts/master.m3u8

[code]

confirmed no audio on above either

[2021-10-20 07:43] glennguy commented on #686
This one doesn't play for a different reason :) there's always something!

[2021-10-20 07:45] matthuisman commented on #686
I'm sorry 😔

[2021-10-20 08:18] glennguy commented on #830
Thanks @CastagnaIT for all the details

I'm doing my best to simulate a slow connection on my Win 10 box by forcing the network adapter to 10Mbps Half Duplex, seems to work as speedtest on my 100Mbps internet connection gives ~7Mbps now.

With case 1 I can't reproduce the subtitle issue. I'm using the current ISA Nexus head build and Kodi 20211014-02b20967d0. One small modification is to modify th

[2021-10-20 08:26] glennguy commented on #378
Just FYI even though you'll see a browser send `%08%04`, this is only to ask for a certificate, you'll never get keys from this request.
I think if you turn on cURL component logging in Kodi you might get a better look at the license response. If it's coming back with invalid license challenge, then you might need to compare more closely how the challenge is sent in your browser. Is it definitely

[2021-10-20 08:46] glennguy commented on #829
My best guess is in this case it seems that the moof has it's own list of track ids, and then of course the container contains tracks which have their own track ids. One of them is wrong or missing.
The change that was there previously is just to say if the moof only has one track id in it's list, then we must be looking at it.
Possibly it's needed because when we make a dummy moov in this functio

[2021-10-20 09:13] glennguy commented on #687
Sure thing, see #831

[2021-10-20 09:25] CastagnaIT commented on #830
i think these problems are highlighted because i have a very long lan cable like 10/15 metres (mt) because wifi is not stable (due to wide walls and many devices connected in my family) then it is possible that the lan signal is not always constant with the bandwidth

i am not sure in what you are referring to...

yeah the attached log above is for the "case 2" (HTPC) but the freeze not happens al

[2021-10-20 09:37] CastagnaIT commented on #829
it would be good to understand if we can avoid this further modification to the bento4 sources
otherwise i will do the PR

[2021-10-20 11:51] CastagnaIT commented on #829
@dobo90 can you try compile/test with this change?
(ofc remove/reset previous patches)

[code]

[2021-10-20 11:53] glennguy commented on #830
Thanks for those links, they look like very good resources!

Just wondering out aloud if the subtitles disappearing is related to the default setting for whether subtitles are enabled or not.

You're correct about bandwidth.bin
I think there would be good use cases for it though - what about channel surfing IPTV? You might not want every stream to start at 320x180. It could be better to have it as

[2021-10-20 12:20] CastagnaIT commented on #830
in my tests if i remember correctly if subtitles are enabled automatically by kodi setting or manually via GUI while watching and DEMUX_SPECIALID_STREAMCHANGE happen, the subtitles become disabled suddently in any case (so when this happen if you open the GUI you can see the subtitles disabled, then you have to re-enable it, in the log you can see that the subtitle stream has been resetted and the

[2021-10-20 20:10] matthuisman commented on #687
fixed with https://github.com/xbmc/inputstream.adaptive/pull/831

[2021-10-20 20:10] #687 closed, assigned to nobody

[2021-10-20 22:58] matthuisman opened #832 "[Dash] Live stream 'craziness' due to audio tracks(s)"
Same provider, ESPN and ESPN2.
(slyguy proxy off or on same issue)

ESPN2 - no issues

ESPN will either
start at negative time with audio but no video
or
start at a time above end of stream with audio but no video

With either, if you seek fwd or back - the image will come back but no audio.
Also, if you try to ffwd to live edge - the stream will stop like it think it's the end.

If i set IA to Vi

[2021-10-23 12:03] pejobo commented on #678
@fedevx Would you mind to set up a AUR package for the patched version? I assume it will take a while until changes will land upstream and this may help others until then.
(fixed typo)

[2021-10-24 08:40] fedevx commented on #678
@pejobo I'm not an active contributor in AUR. We'd have to get someone from the Community to review the patch. Also, it seems that packages from AUR are built with different CFLAGS. As the PKGBUILD file comes, it won't compile unless the default makepkg config file is changed (this is what I did) or maybe we just have to update the flags within the package as well. Are you in a better position tha

[2021-10-24 22:21] diegofn opened #833 "Support for Microsoft playready for clarovideo"
## Bug report

Hello
I am trying to load the following content
https://latamvosliveclarovideo.akamaized.net/Content/DASH_DASH_FK/Live/Channel(WINPREMIUM)/manifest.mpd

It is blocked for the Kodi agent so I wrote the following code:

[code]

### Describe the bug
But I don't get the stream, the inputstream for Microsoft playready need the license_key? When we open the URL in my browser web player it

[2021-10-24 23:25] glennguy commented on #833
Hi @diegofn

Playready isn't supported in this addon on platforms other than Android. Windows support is possible in the future but as it stands at the moment, OSX would not be possible. The service should provide a widevine option.

[2021-10-25 01:03] mrfixit2001 commented on #728
@glennguy @Portisch I have custom built Kodi for a Rockchip Rk3328 device and am seeing this similar error... here's relevant excepts from the kodi log an gdb trace.

I have to assume the issue is the version of widevine that got auto installed? The CPU is armv8, and the build is using a 64-bit kernel, but the userspace and kodi binary are compiled for 32-bit. Maybe I need to patch the inputstream

[2021-10-25 01:22] mrfixit2001 commented on #728
Update - looks like my original commit to inputstream helper was lost over time :( I'll submit it... again...
https://github.com/emilsvennesson/script.module.inputstreamhelper/commit/198464900b58680ee5a4886501f5f3d8d123f805

[2021-10-25 09:42] CastagnaIT opened #836 "[Kodi 20][Subtitles] Disn€y+ subtitles broken"
## Bug report
### Describe the bug
Here is a clear and concise description of what the problem is:

I am doing tests with "Ribelle - the brave" movie but i think also other movies are same

When you start (or resume) the video the subtitles not works at first start,
if you try switching to another track apparently is ok, for the first time,
if you switch another time subtitles are full broken

I h

[2021-10-25 16:31] popy2k14 commented on #785
Can we provide anything else to help identify and solve the issue?

thx

[2021-10-25 21:48] mrfixit2001 commented on #728
Another update: unfortunately I've been unable to get this to work. Everything I've tried has come up with the exact same errors as I listed above. @Portisch @glennguy would greatly appreciate ideas and thoughts on what to try.

Some initial questions.... does the kernel now require relocation enabled in order to support widevine? The relr.dyn assembly part of the kernel gets adjusted when relocat

[2021-10-25 21:57] matthuisman commented on #728
"custom built" != official Kodi - so don't expect the same levels of support.
Custom builds will often need custom fixes / workarounds

Please stop tagging devs and bumping old issues.
You'll need to go do some work and look at what other platforms have done to support the latest widevine
Start here: https://github.com/xbmc/inputstream.adaptive/issues/678

Good luck!

[2021-10-25 22:52] mrfixit2001 commented on #728
:) first, thanks so much for the reply!

I understand what custom means haha and as such I don’t expect the same level of support. As I explained, I did attempt to resolve on my own before posting, and will continue to do so. To clarify, I wasn’t expecting someone to reply with a solution. Just share ideas on more things for me to try on my own. The core of open source IS collaboration after all.

[2021-10-27 09:50] glennguy commented on #785
Hi @popy2k14
This hasn't been mentioned in any of the linked issues but I found this:
https://github.com/xbmc/xbmc/issues/19436
https://forum.kodi.tv/showthread.php?tid=362500
This is making me think the issue has nothing to do with inputstream.adaptive.

Next steps for you would be to find a video with AAC audio to play locally and see if the seek issue is there.

[2021-10-27 10:56] glennguy commented on #829
`track_id=4294967295` from the stacktrace and
`movie->AddTrack(new AP4_Track(TIDC[stream->stream_.get_type()], sample_table, ~0` from the above function (as-is) seems to make sense here that this is what's happening.
Looking at the ism manifest (not much experience with these but seems easy to read) there's no initialization data associated to the audio stream, so `PrepareStream` will create the m

[2021-10-27 11:49] CastagnaIT commented on #829
theorically shoud works, but is needed a test
we should also remove the use of tilde `~` with integers it is ugly invert the bits, at this point is better set directly "-1"
and also create a global static variable for this track ID is better than have a magic number that creates poor understanding of the code

does not know the code well but maybe in this case we could force return false in `bStar

[2021-10-27 13:14] CastagnaIT commented on #773
@glennguy for the DEMUX_SPECIALID_STREAMCHANGE problem that disable the subtitles in kodi GUI settings,
i have opened an issue here https://github.com/xbmc/xbmc/issues/20404

i noticed that the "manual video stream selection" of ISA works correctly with the netfx non-DRM videos (trailers)
then you can try reproduce the problem also in this way without apply limits to the badwidth:
- Enable  settin

[2021-10-28 01:08] RHStonks opened #837 "Hulu Kodi addon: Live TV channels buffering"
I've been having issues with watching live tv channels on Hulu Kodi addon that was just release recently by Matt Huisman.

Almost all of the time it would either play the live tv channel for a few mins then the stream freezes or it freezes then backs out to the live channels list. Sometimes it can play the live tv stream for 10-30mins then back out. It seems some channels are worse than others but

[2021-10-28 17:45] matthuisman commented on #836
I'll check today and make sure it's not being caused by something my end (addon or my proxy or the subtitle conversion stuff I do)

Oh. Just read your whole info. If switching to IA 19 fixes then wouldn't be addon

[2021-10-29 00:12] glennguy commented on #836
I will look at tonight, I hope I can find the cause

[2021-10-29 05:07] matthuisman commented on #837
If your on Android, try going into the Hulu addon settings > playback and disable ec3.
Then see if works better.

I suspect it's something to do with all the periods Hulu uses though. One for every advert

[2021-10-29 05:11] RHStonks commented on #837
I will give it a go. In the advanced setting there is an option called chunksize and default is set at 4096. What does chunksize do?

[2021-10-29 05:12] matthuisman commented on #837
It's the size in bytes that will be read at a time when downloading stuff. Wouldn't worry about that

[2021-10-29 05:28] RHStonks commented on #837
Tried turning off EC3 setting and still having the same issue. It's weird how I have no buffering issues with other streaming services but whenever I try to watch Hulu Live TV channels there is always buffering.

Is it possible that EC3 wasn't setup properly and enabling/disabling EC3 does nothing and maybe that's why it's still buffering when watching Hulu Live TV?

Going to try disabling both H2

[2021-10-29 05:32] RHStonks commented on #837
Just tried disabling both H265 and 4K and still having buffering issues with Hulu Live TV

[2021-10-29 05:34] matthuisman commented on #837
Your Android? Kodi 19?
What device?
you are in USA right?

[2021-10-29 05:49] RHStonks commented on #837
1. Android TV Kodi 19.3
2. Mi Box S
3. NZ using Dns provider

Could it be possible that the buffering is due to the short delay. Is it possible to extend this to say 2-4mins behind the live stream?

[2021-10-29 06:09] matthuisman commented on #837
Oh right. Hulu is USA only. So there CDN etc are all made for us customers.
I even notice buffering when testing using vpn or smart dns. You could try
using the latest inputstream for Kodi 20 (which works on 19). That buffers
ahead and is more efficient.

On Fri, 29 Oct 2021, 18:49 RHStonks, ***@***.***> wrote:

[2021-10-29 06:22] RHStonks commented on #837
Thanks for letting me know. That's probably why the buffering then.

How do I install the latest version of inputstream adaptive but still keep it on Kodi 19.3?

[2021-10-29 06:29] matthuisman commented on #837
Install the below using kodis install from zip
https://jenkins.kodi.tv/job/xbmc/job/inputstream.adaptive/job/Nexus/25/artifact/cmake/addons/build/zips/inputstream.adaptive+android-armv7/inputstream.adaptive-20.0.2.zip

[2021-10-29 08:22] RHStonks commented on #837
Just tried inputstream adaptive v20 and still having the same issue.

Is it possible to add a playback quality option called AUTO where throughout the live stream it will adjust the quality if it needs to keep up with the live tv stream?

[2021-10-29 08:28] matthuisman commented on #837
Inputstream 20 does that. But you need to select bypass. And it's a work in
progress. Please close this issue as it's not an actual bug in inputstream

On Fri, 29 Oct 2021, 21:23 RHStonks, ***@***.***> wrote:

[2021-10-29 08:31] #837 closed, assigned to nobody

[2021-10-30 13:53] popy2k14 commented on #785
Tried several video files with AAC locally, seeking works on all of them.
Also an recording of zattoo downloaded locally -> works, but not with zattoo pvr addon, picture freezes after seeking.

[2021-10-31 10:09] Mariusz89B commented on #212
@glennguy Error persists while starting HD streams.
https://paste.ubuntu.com/p/42GCMs2QDy/

EDIT:
Tested on Kodi Nexus, I.A 20.0.2 with the same result.

[2021-11-01 00:00] glennguy commented on #212
Please use paste.kodi.tv for log uploads - that ubuntu site needs a verified account to view them...

I was able to retrieve the mpd from the log, there are also low resolution streams in there - are they able to be viewed?
I would suspect that what is happening is the license request goes out (with keyids from all video representations) and we get a successful response because at least one stream

[2021-11-01 04:59] Mariusz89B commented on #212
@glennguy Yes, that is correct the low res strms are working and unsigned browsers are throwing the same error.

Is there a solution to this issue to get a successful response from all streams?

[2021-11-01 05:52] glennguy commented on #212
The only way to get the keys I believe would be if Kodi was widevine certified. Never say never but I doubt that will happen.
Have a read here: https://blog.samuelmaddock.com/posts/the-end-of-indie-web-browsers/ , the Conclusion section doesn't give much hope.

We only know that there's no key once we try to decrypt, maybe there's a more graceful way to handle this and at least give the user somet

[2021-11-01 09:54] glennguy commented on #212
Just FYI it would probably work fine in Kodi running on Android as long as it's an L1 certified device.

[2021-11-01 10:08] Mariusz89B commented on #212
@glennguy Good to know. Thank you for your information.

[2021-11-02 11:43] CastagnaIT commented on #829
@dobo90 do have you some time to do this last test? thanks

[2021-11-02 21:07] glennguy commented on #836
I can reproduce here, I need to find a non DRM example to make debugging bearable.

[2021-11-03 08:22] CastagnaIT commented on #836
i have not found, also in Extra context menu nothing, maybe @matthuisman know if there are somewhere?
i tried also to find sample MPD's with webvtt but i have not found segmented samples like on D+...

[2021-11-03 09:02] CastagnaIT commented on #836
@glennguy today i am lucky

try with this: [_Test_WebVTT_segmented_HLS.strm.txt](https://github.com/xbmc/inputstream.adaptive/files/7466341/_Test_WebVTT_segmented_HLS.strm.txt)
found at: https://hls-js.netlify.app/demo/

seem to have same subs problem of D+

[2021-11-05 10:36] glennguy commented on #836
I can't reproduce on that one :/

I've loaded into a test addon so I can have it resume, no issues so far.

[2021-11-05 10:37] glennguy commented on #686
I've been testing again on the elephant stream and found my fix was not good (seeking around causes lots of problems). Also, if you resume the stream the audio works fine with code as-is. I wish I knew more about ADTS...

[2021-11-05 10:50] CastagnaIT commented on #836
to me not works good, i do this steps:
- play strm
- seek video to the middle where the character talks e.g. 4:28
- switch subtitle to other languages more times

the only different thing than D+ is that in this sample the subs works good when you enable them, but will be broken after switching sub language more times

[2021-11-06 05:41] Liqianyu commented on #836
I can confirm that the same problem exists for TV series.
Problem Summary
1. Subtitles are only displayed when switched for the first time. Repeated switching will prevent it from being displayed
For example, start playing Eng Sub (Not Work) → Fra Sub (Work) → Chs Sub (Work) → Fra Sub (Not Work)
2. The subtitle timeline will be advanced by 3 seconds, you can match it by manually delaying 3 seconds

[2021-11-08 20:00] idovitz commented on #678
Can you pls share your PKGBUILD with me? Thanx in advance!

[2021-11-09 23:52] fedevx commented on #678
@idovitz I posted it in the forums to get it reviewed. You can find the post [here](https://bbs.archlinux.org/viewtopic.php?id=270689) .

[2021-11-10 13:37] Zoom-Adr commented on #811
not sure which services but there are some streams that use clearkey

[2021-11-11 10:41] bencooper1 commented on #755
Hi @spacex97 ! Could you put your full working code? Thanks!

[2021-11-12 13:25] dobo90 commented on #829
@CastagnaIT sorry I was busy last days. I will try it this weekend and report. Thanks!

[2021-11-15 01:02] quietvoid commented on #262
Netflix now has AV1 streams, I'm interested in this.

[2021-11-15 09:04] CastagnaIT commented on #262
did you get the manifest on the AV1 streams?
can you attach the file here? and specify operative system/machine used?

[2021-11-15 11:22] glennguy commented on #836
@CastagnaIT sorry I've been very time poor the last few weeks.

Having another look now and can confirm there's an issue.

Running out of time again but if I comment out this https://github.com/xbmc/inputstream.adaptive/blob/5134fcd8b0540f3457e55dfecceda3bcda53bd84/src/parser/HLSTree.cpp#L738  and force sub streams to refresh on stream start by modifying this https://github.com/xbmc/inputstream.ad

[2021-11-15 12:38] quietvoid commented on #262
I don't know how to get that. I'll look into it.
edit: Anyways I've tried getting an AV1 stream but it's still only serving me HEVC.

[2021-11-15 14:28] CastagnaIT commented on #836
thanks for the info,
i don't know enough about how the code works to debuggin it so i have to rely on you or others devs

my D+ subscription is expired a few days ago then i can no longer test with D+

[2021-11-17 10:53] Liqianyu commented on #836
The last two days while watching Disney Plus I noticed a strange problem. The buffering did not run out but the screen flickered (seemed to be re-matching the resolution frame rate) and the subtitles disappeared.
Looking at the [logs](https://paste.kodi.tv/emifedejov.kodi) at I found that Kodi says "Opening stream: 1015 source: 256", so ISA seems to be loading another video stream?

The issue seem

[2021-11-21 11:06] CastagnaIT commented on #836
@glennguy thanks 🎉 seem to works with the sample stream,
but i will need to verify better in next days
i should verify the behavior also with D+, maybe @Liqianyu can give some feedbacks?
or as you proposed if you can sent me a temporary access to D+ would be useful (you can contact me with my e-mail from my GitHub homepage links)

however we still have a problem with DEMUX_SPECIALID_STREAMCHANGE c

[2021-11-21 14:05] Liqianyu commented on #836
@glennguy @CastagnaIT
After testing, I can confirm that PR #841 fixes the Disney + Add-on subtitle problem. However, this branch does not merge with PR #820. does this fix have anything to do with automatic stream switching? I did not find the auto-stream switching issue that was previously present in about two hours of playtesting.

[2021-11-21 15:33] CastagnaIT commented on #836
what you are talking about precisely?

[2021-11-21 16:12] Liqianyu commented on #836
@CastagnaIT
I mean, during two hours of test playback. There was no Kodi flicker (ISA automatically switched streams). So there is no automatic stream switching fault in that branch?
I was previously using the PR #820 branch.

[2021-11-21 22:25] matthuisman commented on #783
ok, I can reproduce this issue on RPI4 LibreELEC 10.0.0

Its definitely when seeking across chapters (a bunch of tiny chapters in credits)
Disney+ seeks pass these by default to skip credits.

Seeking around in the first chapter is fine
And letting it play over the chapters is fine.
its just when seeking or ffwding over them

This is fresh LibreELEC 10 and only Disney+ installed
IA 19.0.0.1

here

[2021-11-23 22:13] glennguy commented on #836
@Liqianyu
Current behaviour is that ISA will remember the download speed from last playback, and use that information when selecting which video stream to play when you start a new playback. If you've got a fast connection, there will be no reason to switch streams.
The test stream mentioned in the PR is pretty slow to download, try playing that for a couple of minutes then go back to D+.
Alternat

[2021-11-23 22:22] glennguy commented on #836
@CastagnaIT
Seems like [#6105](https://github.com/xbmc/xbmc/pull/6105) might have been to do with issues caused from having external subs (like from a local file) as well as ones contained within the file itself. This is pretty old and pre-VideoPlayer, it's worth trying to see if it causes any issues to remove it?

[2021-11-24 05:13] Liqianyu commented on #836
@glennguy
It could be that my internet speed is currently sufficient so that I can't trigger the automatic stream switch. I can't say for sure, a lot of the current ISA failures seem to be related to insufficient buffering (not enough internet speed).
E.g. video stops playing (buffering at 0%) and the audio and subtitles continue. As well as known problems with rewind jams. Also turning on Kodi Pl

[2021-11-24 07:02] CastagnaIT commented on #836
@Liqianyu for testing the changes you have to cherry-pick the commits from respective PR's branches then build it manually

The PR's could be joined because the problem now seem related to Kodi core only, but since we are not in a hurry i think it is better to wait a bit to better understand the problem caused by DEMUX_SPECIALID_STREAMCHANGE, trying to avoid making regressions in current functiona

[2021-11-24 10:25] CastagnaIT commented on #836
i have found this behaviour, i am testing always with trailers (to trigger more easily DEMUX_SPECIALID_STREAMCHANGE i am playing at same time two youtube videos, but ISA in future should have a setting to run this kind of demo-test), then example:
- If kodi player sub language is set with french and the trailer have the subtitle in english (so setting-sub not match)
when DEMUX_SPECIALID_STREAMCHAN

[2021-11-26 16:47] CastagnaIT commented on #773
i close this issue is not more needed the PR is on the way

[2021-11-26 16:47] #773 closed, assigned to nobody

[2021-11-28 13:33] #515 closed, assigned to nobody

[2021-11-28 13:35] CastagnaIT commented on #516
we have given enough time to answer its time to close it

[2021-11-28 13:35] #516 closed, assigned to nobody

[2021-11-28 13:43] CastagnaIT commented on #544
@tanty are you able to test with Kodi 19 Matrix to check if the problem still occurs?
in case it occurs, can you provide valid mpd's for testing? and/or instructions in how get it?

[2021-11-28 13:53] CastagnaIT commented on #581
@YMaas please can you let us know if with the latest version of Kodi 19 Matrix the problem still occurs?
if it keeps happening, we need also that you attach here the Kodi Debug Log file (https://kodi.wiki/view/Log_file/Easy)

[2021-11-28 14:27] CastagnaIT commented on #595
I think that ask this type of feature is too premature due to the current state of development of ISA that still needed developments and optimizations in different areas, and a kind of this type need to be also supported by an addons e.g. to handle the temporary linceses, data expiring, manage audio/video/subtitles files, etc... so a certain amount of cooperation is needed between addons devs and

[2021-11-28 14:44] CastagnaIT commented on #751
@w64 no activity for months if there are no more questions this issue will be closed

[2021-11-28 14:53] CastagnaIT commented on #757
not sure could be related to this, recently has been fixed in kodi core audio stuttering for most of DD audio formats
you can test with last Kodi 19 nightly if there are improvements

[2021-11-28 15:00] CastagnaIT commented on #771
please check if MediaCodec and MediaCodec surface on Kodi->Setting->Player->videos
are enabled, if not enable them

[2021-11-28 17:13] CastagnaIT commented on #525
for now i close this issue,
the video specified use vp9 profile 2 that it in theory could contains HDR data it could be something mishandled in kodi core
for now net***x seems to have put in standby the vp9 profile 2
if it is reintroduced in the future and the problem recurs, I will see what to do.

[2021-11-28 17:13] #525 closed, assigned to nobody

[2021-11-29 01:41] #836 closed, assigned to nobody

[2021-11-30 07:51] werimail commented on #771
Hi CastagnaIT
I have checked the settings for the MediaCodec and MediaCodec surface. Both settings are active. Unfortunately, the result is the same: no picture but sound? I have added a complete Kodi log file again.
[kodi.log](https://github.com/xbmc/inputstream.adaptive/files/7623885/kodi.log)
Greetings Weri

[2021-11-30 08:45] phunkyfish commented on #785
@glennguy if the local files play ok does this mean the issue is in adaptive?

[2021-11-30 08:52] CastagnaIT commented on #771
i suspect that your custom rom miss of a main feature so hardware video decoding,
i think without this it is not possible to play encrypted videos

You can provide more info such as a log by enabling Kodi debug, otherwise there are no details, and a screenshot of "DRM Info" app (from store) page infos, to get a more complete picture
but i do not think this can be solved from our part

[2021-11-30 09:20] glennguy commented on #785
Yes it seems so
Sorry @popy2k14 for not following through.
Popy2k14 - are you seeing the same behaviour in the YouTube add-on as another user mentioned above? Would be great if you could check as we can all access YouTube

[2021-11-30 09:23] werimail commented on #771
Ok CastagnaIT, thank you. I also think that it is related to the missing hardware decoding in the custom rom ... but I still created a Kodi debug log and the desired DRM info screenshot. Maybe there is still hope to solve the problem yourself.

![Screenshot_20211130-101828_DRM_Info](https://user-images.githubusercontent.com/88481706/144019995-7a03d1aa-2188-4a1a-88d6-cb2552147f74.png)

[kodi_debug.

[2021-11-30 09:26] popy2k14 commented on #785
@phunkyfish and @glennguy thx for comming back to this issue.

@glennguy yes, i can test youtube addon, maybe today or tomorrow.
Will come back here with the results.

[2021-11-30 12:24] CastagnaIT commented on #771
Your Widevine is set as L3 then in theory you can play SD content, but since your ROM is an unofficial custom rom other problems can happens beyond our control, like this:
From the log line `Failed to create Android MediaCodec` this can means that in your rom is missing some media type codec needed to the playback, then should to be fixed in rom side

the only thing that i can suggest to try is tr

[2021-11-30 12:47] werimail commented on #771
I tried to play the content as you described with 480p in Kodi, unfortunately not with the desired success. So it is probably due to the missing media codec in the custom ROM. What amazes me is that playback (with max 480p) works with the native app. Apparently another codec is used for this which is supported by the custom ROM. Still thanks for the support. Greetings Weri

[2021-11-30 19:35] popy2k14 commented on #785
@glennguy
Tested youtube addon (man that's a pain to setup) on the shield with 19.3 release.
It runs flawlessly, tested 1080p and 4k both with AAC Audio.
Forward and rewind has no issue, fast and snappy as it should and no freezing picture.

After the testvideos i have played one channel from zattoo, which freezed picture after rewind a few minutes.
Here is the log: https://paste.kodi.tv/ijinaxuhe

[2021-11-30 19:43] kontell commented on #785
@popy2k14 can you confirm you were using inpustream with the YouTube addon. As in, "MPEG-DASH" within the YT addon settings was enabled and you tested it with a live stream. Thanks.

[2021-11-30 20:08] popy2k14 commented on #785
@kontell
On my first test (with the log above) sadly MPEG-DASH was not enabled. Redid my test now with MPEG-DASH enabled with the same Videos.

Same results, Youtube is working with videos.
Also tried live stream in YT but could not rewind at all. But the stream was playing.

I can upload the new log tomorrow, if needed.

[2021-11-30 20:15] kontell commented on #785
On demand videos work fine for me in YT as well.

I think the lack of rewind is because in the MPEG-DASH section of the YT addon settings you need to have "Use for live streams" checked.

[2021-11-30 20:46] kyl416 opened #843 "Please give as an option to disable the parsing of frame rates from the manifest/playlist files"
Please give us an option to disable the parsing of frame rates from the manifest/playlist files so we can instead only rely on what the player detects for the underlying video segments.

In a perfect world these companies would make sure that the frame rate in the manifest file matches the frame rate of the video segments, but in the real world most of these companies just slap a default value lik

[2021-11-30 21:34] glennguy commented on #843
I've seen the same issue personally, thanks for bringing this up and providing all the details.

I think your solution would help only in certain configurations with the interface resolution and 'Adjust display refresh rate' settings.

What about the option to pass in a property that forces a certain frame rate i.e overrides whats in the manifest? That way add-on authors could apply to problematic

[2021-11-30 22:01] glennguy commented on #785
Ok, I can see what's happening in the log now. Will investigate properly tonight after work but the video segment that is seeked to is the wrong one (~3 seconds too far)

[2021-11-30 22:02] kyl416 commented on #843
The problem is not all framerates are the same across the board within the same add-on. Like the frame rate for the live event streams used by ESPN, NBC Sports, Fox Sports, Paramount+ and other apps can vary depending on the channel producing the telecast. Apps with Live TV like Hulu, YouTubeTV, Xumo and Pluto can also vary from channel to channel. YouTube also sometimes has the 24 vs 23.97, 30 vs

[2021-12-01 05:43] popy2k14 commented on #785
I can redo some tests if needed, just come back to me. Nice that you see the zattoo issue in the logs.

If I can help any further, just let me know.

[2021-12-01 18:17] popy2k14 commented on #785
@glennguy did you found the issue? Please do not hurry, i am not using kodi as my main system currently. But i am also interested in your findings. If i can help in any way (do some more tests, just let me know).

thx a lot

[2021-12-01 21:42] glennguy commented on #785
Not yet, I ran out of time last night but will try again tonight

[2021-12-02 02:14] jamieburchell commented on #678
On OSMC/Kodi 18 I found that I only needed to run:

[code]

Does that mean the libc6 version in Buster works now?

[2021-12-02 03:29] samnazarko commented on #678
@jamieburchell I pushed an updated version of libc6 to OSMC's APT repository in early September. No manual intervention should be necessary at all. Just make sure you're on a recent version of OSMC.

Cheers

Sam

[2021-12-02 07:22] popy2k14 commented on #785
take your time!

[2021-12-02 12:14] jamieburchell commented on #678
There's a slight problem with that as I need to stay with Kodi 18 on my Pi 2 (or rather, I would prefer to). It must have pulled the libc6 from your repo when I did `sudo apt-get install --only-upgrade libc6` since I didn't install the repo from `wagnerch-buster-ppa.list`. Anyway, I have a working Widevine using the .so from https://k.slyguy.xyz/.decryptmodules/widevine/4.10.2252.0-linux-armv7.so

[2021-12-02 21:56] glennguy commented on #785
Still havent found time but @popy2k14 are you able to test if this issue is present on Windows? If so regardless of outcome could you provide a debug log?
There's so much conflicting information in this and the other threads, I suspect there's 2 or more different issues that are being conflated into the one, and I'd like to solve your specific issue first.

[2021-12-03 15:21] popy2k14 commented on #785
@glennguy
Done the tests on an Windows 10 21H1 machine + kodi 19.3 + zattoo and all addons up-to-date.

In windows, all is working like it should!

Here are the results:
dash selected in zattoo addon: https://paste.kodi.tv/dibaniveki.kodi
dash widevine  selected in zattoo addon: https://paste.kodi.tv/ifequneniw.kodi

I think you are right, but the title of my issue nails it down to android :-)

Ho

[2021-12-03 17:00] rafhtl commented on #363
Hi I still have this issue and cannot get rid of the logs filling my kodi.log
can you please help
....
ActiveAE - large audio sync error: -97349.825638
2021-12-03 17:39:42.803 T:3818     INFO <general>: CAESinkPi:AddPackets Underrun (delay:0.00 frames:1102)
2021-12-03 17:40:20.135 T:3817  WARNING <general>: ActiveAE - large audio sync error: -97354.769639
2021-12-03 17:40:33.079 T:3818     INFO <g

[2021-12-03 17:08] rafhtl commented on #249
Hi I still have the issue in version 19
large audio sync error
filling my kodi.log
Help!
could you at least disable the warning log?
WARNING <general>: ActiveAE - large audio sync error: -1004.835002
thank you

[2021-12-04 15:43] horstle commented on #678
@jamieburchell
If it works with that libwidevinecdm.so, it should work with all.

[2021-12-04 17:22] jamieburchell commented on #678
Oh yes, you're absolutely right. Turns out the only thing I had to do in OSMC / Kodi 18 was to update the libc6 library from the OSMC repo.

[2021-12-04 21:11] rysson commented on #811
Hi,
@glennguy, yes, discovery/eurosport for example (via player.pl).

[2021-12-06 01:40] matthuisman commented on #843
@kyl416
do you think removing the framerate from the manifest would fix your ESPN issues?
I actually have had a user open an issue about that here: https://github.com/matthuisman/slyguy.addons/issues/46
All my add-ons manifests go via a proxy so I can easily remove the framerate in that before it gets to Kodi / inputstream.

Which leads us to the question - why even parse and set the framerate?
Wh

[2021-12-06 09:11] werimail commented on #771
Hi CastagnaIT, I tried the following: With the Media Codec Info tool from the App Store, I was able to display the codecs installed in the ROM. Accordingly, an MPEG-4 AVC (H.264) video codec is available. This is shown in the codec list as OMX.google.h264.decocder (see also the screenshots). Apparently there is a corresponding codec in the ROM ?!

![Screenshot_20211206-100524_Media_Codec_Info_vide

[2021-12-06 10:36] CastagnaIT commented on #771
looking again at your last log comparing it with one of my own
i think the problem is somewhere in this part of code:
https://github.com/xbmc/xbmc/blob/master/xbmc/cores/VideoPlayer/DVDCodecs/Video/DVDVideoCodecAndroidMediaCodec.cpp#L664-L750

because after log line:
`CDVDVideoCodecAndroidMediaCodec::Open: Secure decoder requested: false (stream flags: 0)`
is missing the codec testing, in your cas

[2021-12-06 11:00] glennguy commented on #785
I think I'm on the right track, just need more time to put into this. I have a couple more pull requests to make which I'm just about done developing then I can concentrate on this.

What I've found is in here (some lines removed for readability):
[code]

Relevant code:
https://github.com/xbmc/inputstream.adaptive/blob/1d8877960ccf33f423b6d18ee6f9456fc9301fc8/src/main.cpp#L3072-L3110

What's happe

[2021-12-06 12:08] popy2k14 commented on #785
Thanks for looking into it.
Sounds reasonable that the wrong seeking time and diff between seeks is part of the issue.
Take your time.

[2021-12-06 20:23] kyl416 commented on #843
Yeah, it would be a quick fix for the ESPN issue and possibly some of your other addons that involve live streams with dynamically inserted content during commercial breaks like Fox Sports and some of the Australian Networks like Network 10, but like I mentioned, this issue of conflicting manifest bitrates isn't isolated to specific add-ons. i.e. the WXYZ news stream where the manifest reports 30

[2021-12-06 20:26] matthuisman commented on #843
yeh, plus IA doesnt know if it's starting to play on an advert or on the main content.

To me it makes sense to just let Kodi always do it?
No different to playing local content etc.
Keeps the same behaviour.
Much better to have it take an extra second to detect and change vs changing twice?

Want me to build you a test IA version not parsing frame-rate at all and see if it works?

[2021-12-07 23:08] glennguy commented on #785
@popy2k14 can you please try the appropriate zip from here https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/PR-848/1/artifacts

[2021-12-08 11:35] kontell commented on #785
Tried the above on Nexus with YouTube and got the same behaviour. Video freezes after skipping back in a live stream and manually changing the video stream jogs it back into life.
[YT_kodi.log](https://github.com/xbmc/inputstream.adaptive/files/7675705/YT_kodi.log)

[2021-12-09 12:23] glennguy commented on #785
thanks @kontell

I think the above zip will help in some situations like the zattoo add-on but not 100% of the time anyway, it will only mask the problem.

I've managed to narrow the issue down some more and am investigating. Thanks to being able to reproduce the cause in the youtube addon I think I'll be able to fix it. The same behaviour can be observed in Windows 10 where the audio and video st

[2021-12-09 12:41] popy2k14 commented on #785
@glennguy thx for your efforts. i can test the above test build in the evning (~about 6h). Will come back here.

[2021-12-09 20:03] popy2k14 commented on #785
@glennguy same issue with the above build (like @kontell with youtube addon).

Here is the log : https://paste.kodi.tv/liqacuxudi.kodi

[2021-12-10 07:19] matthuisman commented on #731
looks like this is causing issues with Sling streams:
https://github.com/d21spike/plugin.video.sling/issues/40#issuecomment-990676307

Notice that sling MPD has no timeShiftBufferDepth
and also no availabilityStartTime

[2021-12-10 12:02] glennguy commented on #785
@popy2k14 @kontell
I hope the latest change resolves this issue for you: https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/PR-848/2/artifacts

I'm making a big assumption that the issue it fixes is what you're seeing. In any case the work isn't without use, ISA has been seeking to the wrong audio segment in many cases.

[2021-12-10 12:04] glennguy commented on #843
@kyl416 @matthuisman
Has anyone tested to see that removing all frame rate references from the playlists will give the behaviour you're looking for?
My suspicion is that in the absence of frame rate indicators it will use the current refresh rate to start playback and adjust afterwards. What I also think will happen is that on a new period, it will revert back to the interface refresh rate once ag

[2021-12-10 14:48] popy2k14 commented on #785
@glennguy
Sadly, with the addon build, the issue is the same on the zattoo addon side.
here is the log: https://paste.kodi.tv/ijozikirel.kodi

[2021-12-10 17:37] matthuisman commented on #843
I had a user try and it didn't help. As you suspect, i think the issue is
Kodi reverting to it's initial frame rate at ad breaks and then switching
again to real rate

On Sat, 11 Dec 2021, 01:04 Glenn Guy, ***@***.***> wrote:

[2021-12-10 20:49] glennguy commented on #785
That's a shame, thanks for your continued patience and testing.

[2021-12-10 21:16] glennguy commented on #785
@popy2k14 I don't know if it will help but are you able to get a logcat from your shield for this issue? I say this because of this line in the log `CMediaCodecVideoBuffer::ReleaseOutputBuffer error in render(0)`
If the log can show the exception which caused Kodi to write this line then we may be able to continue progress

[2021-12-11 13:29] popy2k14 commented on #785
@glennguy no problem. Because of the WAF is curently high without kodi, i have no pressure from this side :-) and can give you logs as you need them.

Have made another test with kodi (switching to three different channels and rewind a few seconds).
Also made a logcat for you.

Kodi log: https://paste.kodi.tv/uxarunamiv.kodi
Logcat from shield (cutted to the runtime of kodi, because otherwise it w

[2021-12-11 19:13] ostanislaw commented on #678
I have OSMC latest stable. Should I update(downgrade) if I have following library which still works with latest widevine:
libc6_2.28-110.1_armhf.deb
Someone shared a solution about 2 months ago and it is fine so far.

Now I tried installing the version from wagnerch ppa and it says it would remove a lot of packages, probably there are some incompatibilities:
[code]

[2021-12-11 19:51] enen92 opened #853 "Kodi 20: IA crashing with HGO streams on Android"
Inputstream adaptive/Kodi is crashing in Kodi 20 with all streams from HGo (HBO) in Android (works on my other test machines which have linux). They play well under kodi 19 so its definitely some change in IA for nexus.
Can't tell much about the crash, the backtrace in logcat shows this:

[code]

Kodi debug logs:
Working (Kodi 19.3): https://paste.kodi.tv/hihofumiwe
Crashing (Kodi 20): https://pas

[2021-12-11 22:21] glennguy commented on #785
Nothing that helps in there I'm sorry but I'm reproducing the issue on my Pixel 3 here, so might be a whole of Android thing.
I'll have to figure out an easy way to start debugging on Android.

[2021-12-11 22:25] glennguy commented on #853
Just to rule out Kodi 20, can you try with IA 19.0.1 in Nexus?

I need to start learning an easy way to do debugging in Android, will hit up the team on slack later today for some help.

[2021-12-11 22:38] popy2k14 commented on #785
Yeah, I also saw nothing intetessting in the logcat.
Are you able to reproduce the issue on your pixel? That would make things a lot easier.

[2021-12-11 23:24] glennguy commented on #785
Yes, seeking in YouTube live streams causes a picture freeze, never recovers. Other strange behaviour happens but I'm sure it's all linked to the video freeze.

[2021-12-12 09:55] CastagnaIT commented on #234
Closed due to no answer from author

[2021-12-12 09:55] #234 closed

[2021-12-12 10:12] enen92 commented on #853
Ok so sort of good news, I compiled kodi for android with the HEAD of Nexus branch for IA (i.e. not using the version available from the repo) and kodi doesn't crash anymore. So the crash issue might already have been solved recently (just not pushed to the repo).
Streams however don't play:

[code]

I'll try to bissect this and find the culprit (or at least the last working commit)

[2021-12-12 11:14] wagnerch commented on #678
OSMC (and Raspberry Pi OS Buster/Bullseye, XBian Bullseye), as I understand it from comments above, should include these patched libc6 binaries now.  So you do not need that PPA, if you have it installed then you can remove the PPA via (if you used the PPA install instructions):
`sudo rm -f /etc/apt/sources.list.d/wagnerch-buster-ppa.list`

Then proceed with a normal apt-get update, apt-get upgrad

[2021-12-12 12:20] glennguy commented on #853
looks like it might not be finding the libssd_wv.so  - from your last log it's at `/storage/emulated/0/Android/data/org.xbmc.kodi/files/.kodi/addons/inputstream.adaptive/libssd_wv.so`

[2021-12-12 12:41] ostanislaw commented on #678
@wagnerch Thanks, removed your ppa back. I got confused with the new PPA. I thought it must be different version that the one I've installed long time ago. My current version (110-1) is from osmc ppa. No issues with this package BTW.

[code]

[2021-12-12 20:00] popy2k14 commented on #785
Nice that you can reproduce the issue.
If you need anything, just let me know.
Also for testing, i am here.

[2021-12-12 21:00] enen92 commented on #853
@glennguy version 19.0.1 works fine in latest Nexus nightly after copying libssd_wv.so and libinputstream.adaptive.so to sdcard/Android/data/org.xbmc.kodi/files/.kodi/addons/inputstream.adaptive/.

Doing the same with any 20.0.x version just crashes Kodi.
Since Kodi's fault is discarded and since it is happening with any version from 20.0.1 (oldest one still in the repo) I wonder if it's not relat

[2021-12-12 21:14] matthuisman commented on #853
@enen92
i doubt its that commit as that was just removing old files that aren't used anymore since the android stuff moved to jni

i suspect what has happened is when you've compiled IA, the ssd_wv hasn't been built / included.
Then when you ran it, it stopped there when looking for that so never got to where it crashed initially.
Could you instead try a version from here:
https://jenkins.kodi.tv/

[2021-12-12 21:42] enen92 commented on #853
@matthuisman thanks for the links.

These work:
https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/20.0.0-Nexus/1/artifacts

https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/20.0.1-Nexus/1/artifacts

Anything above just crashes Kodi on my phone. Will try later on my other devices.
The fact 20.0.1 works is suspicious as it cras

[2021-12-12 22:06] enen92 commented on #853
Retested on my other devices and got the same behaviour. Last version that works is 20.0.1.
Maybe if it's possible to trigger Jenkins to do a build with debug symbols enabled it might help to understand the crash (it's a use after free) so the fix might be simple

[2021-12-12 22:07] matthuisman commented on #853
ok, so 20.0.1 has the "big stuff" in it already (adaptive switching, buffer ahead, and my commit above)
**So thats good that works.**

changes between 20.0.1 and 20.0.2: https://github.com/xbmc/inputstream.adaptive/compare/2bd53487b5dffdc3605727b10b79eb2a987871ad...6cb99782bbdc4756173c71aa6b5dd9ae7c1f91b3

There was a big refactor / update of bento
so that would be my suspicion.
could be just a ch

[2021-12-13 01:30] glennguy commented on #853
possibly this which is still outstanding:
https://github.com/xbmc/inputstream.adaptive/issues/829

[2021-12-13 01:54] matthuisman commented on #853
good spotting.
the manifest url looks very similar to this addons url - so could well be the same fault

ive done a draft PR with those changes

@enen92
could you try with a build from here please:
https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/PR-854/1/artifacts

[2021-12-13 01:55] matthuisman commented on #829
@dobo90
how did you get on?
I've done a draft PR with the changes @CastagnaIT suggested, so you can actually just grab a build from below which has the changes:
https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/PR-854/1/artifacts/

[2021-12-13 12:14] enen92 commented on #853
@matthuisman thanks, but no luck.
Digging a bit more on this I found this is indeed due to the bento4 bump. It is crashing here https://github.com/xbmc/inputstream.adaptive/blob/6cb99782bbdc4756173c71aa6b5dd9ae7c1f91b3/lib/libbento4/Core/Ap4LinearReader.cpp#L640 because `tracker->m_SampleTable` is null.
Also, I can reproduce this on linux (was using 19.0.0) which hopefully makes it easier to solve

[2021-12-13 12:21] enen92 commented on #853
However I can confirm this patch https://github.com/xbmc/inputstream.adaptive/issues/829#issuecomment-946686094 fixes the issue for me

[2021-12-13 18:00] Dis90 opened #855 "Kodi 19: mpd subtitles doesn't always work on discovery+"
## Bug report
### Describe the bug

Subtitles on some videos on discovery+ doesn't work properly in Kodi 19.

Here is a clear and concise description of what the problem is:

Every line is displayed as iden1, iden2 and so on.

## Expected Behavior
Here is a clear and concise description of what was expected to happen:

Subtitles to display properly.

## Actual Behavior

## Possible Fix

Latest Inp

[2021-12-13 20:03] matthuisman commented on #853
@enen92
thanks, I've PR'd that patch.
Can you check below build works fine for you:
https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/PR-856/3/artifacts

[2021-12-13 20:13] enen92 commented on #853
It works but I share @CastagnaIT concerns about that type of patches (it's a complete hack and will make updating bento4 harder in the future) and a rabbit hole to debug :)
When AddTrack is called we feed it ~0 (-1) as the track_id. there's a chance ProcessMoof is called later and there the IDs come from the stream/container (1) in my case. The comparison won't match.
Maybe we can figure out a way

[2021-12-14 07:12] CastagnaIT commented on #853
@matthuisman I'd like to check if we can avoid re-add the old workaround to bento4

i like the way to set our custom AP4_Movie with trackid as "1" to avoid use the workaround patch to bento4,
but my fear is that we cannot be sure that stream data provided is always with track id of "1"
i'll see today or tomorrow if i am able to find a possible better way

[2021-12-14 07:19] matthuisman commented on #853
@CastagnaIT
I was chatting to Glenn and he said he had a fix without the hack so I've closed the PR introducing the patch

[2021-12-14 07:30] CastagnaIT commented on #853
then i will wait a feedback before investing time

[2021-12-14 07:33] CastagnaIT commented on #855
ISA ver 20.0.2 not include the use of the new webvtt parser, then not works
you have to install the 20.0.3 version on both your systems with Kodi 20
or manually build it/install it from Nexus branch

The webvtt parser of ISA used in Kodi 19 is very unstable
i will try to see if i can do something

[2021-12-14 09:27] CastagnaIT commented on #855
@Dis90 please do a test, you can download ISA zip test builds from here:
https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/PR-857/3/artifacts/
(for Kodi 19)

[2021-12-14 10:45] Dis90 commented on #855
Unfortunately no change. Still iden1, iden2... :(

[2021-12-14 11:33] CastagnaIT commented on #855
ah my fault i have solved in wrong way...

[2021-12-14 12:03] glennguy commented on #853
@enen92 could you please try from here https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/PR-858/2/artifacts

Btw the test stream mentioned in the PR had a track id of 2 (either for video or audio, or both - didn't check).

[2021-12-14 12:16] CastagnaIT commented on #853
yeah what i was thinking of doing is exactly what @glennguy has done in this new PR

[2021-12-14 12:35] enen92 commented on #853
@glennguy I can confirm your patch fixes the issue. Thanks much!

[2021-12-14 14:19] coffeinflash opened #859 "Build error on openSUSE Leap 15.3 using gcc 10"
Trying to build the latest master on openSUSE Leap 15.3 fails with:

[code]

The complete log can be found here at [OBS](https://build.opensuse.org/package/live_build_log/home:Herbster0815:HTPC/kodi.binary-addons-inputstream.adaptive/openSUSE_Leap_15.3/x86_64)

The package sources can be found here at [OBS](https://build.opensuse.org/package/show/home:Herbster0815:HTPC/kodi.binary-addons-inputstre

[2021-12-14 20:30] #853 closed, assigned to nobody

[2021-12-15 06:45] CastagnaIT commented on #829
fixed by #858

[2021-12-15 06:45] #829 closed, assigned to nobody

[2021-12-16 04:20] jchtt commented on #460
Also just ran into this, any news?

Edit: Only testing this on Netflix. Disabling the secure decoder fixes it but forces all output to 1080p. For me a great workaround would be if the secure decoder could be conditionally disabled for h264 content and enabled for 4k/h265 content.

Edit 2: Actually, while it seems better without the secure decoder, it is actually still pretty choppy.

[2021-12-19 12:15] david-morris opened #863 "Videos Enter Hyperspeed after Buffer Empties"
## Bug report
### Describe the bug
When the buffer runs empty, the video plays "catch up" and the audio skips.  But that is undesirable behavior.

## Expected Behavior

I would like the video and audio to resume at normal playback speed from where the buffering began.

## Actual Behavior

Once buffering is completed, the video speed runs somewhere around 16x speed until caught up. Meanwhile, the a

[2021-12-20 07:16] popy2k14 commented on #785
@glennguy
Did you found the root cause of the issue?

Ps.: Again, i DONT want to put any pressure in this, because we dont use kodi anymore. I am just interessted in the technical cause and want to give the kodi community something back :-)

[2021-12-20 07:27] glennguy commented on #785
Not yet, I haven't looked at this since last time but plan to again this week.

[2021-12-20 07:38] popy2k14 commented on #785
ok, thx for the update. Just ping me if i can help.

[2021-12-20 21:47] matthuisman commented on #863
i see this same behaviour on local media if it buffers over wifi.
Also same behaviour when streaming content that isnt using inputstream adaptive

Therefore I dont think this is an Inputstream Adaptive issue

(You've also not supplied a full debug log)

[2021-12-20 23:02] david-morris commented on #863
Good point, I only noticed that after posting.  Inputstream.adaptive was my only way of getting videos which used enough bandwidth to trip over their buffer for a while.

Yeah, seems like it's likely the video player itself, do you have the ability to move this issue to xbmc/xbmc or should I copy it?

Okay.  Is this a matter of logs from before the video being chosen being potentially useful, or t

[2021-12-21 01:29] matthuisman commented on #863
you'll need to close this issue and then create a new one on xbmc/xbmc
They will require full debug logs etc

[2021-12-21 11:20] david-morris commented on #863
Misfiled, moving to xbmc/xbmc

[2021-12-21 11:20] #863 closed, assigned to nobody

[2021-12-23 19:18] eracknaphobia opened #865 "Multiple KEYFORMAT"
I'm trying to get DRM working for my nbc sports addon. I keep getting this error:
`No decrypter found for encrypted stream`

I noticed the stream has 2 keyformats. With the last one being playready which i believe only works on android devices (i'm testing on pc). Can anyone confirm this is an issue with the last keyformat being used?
[code]

From what I've been able to find I believe `KEYFORMAT="

[2021-12-23 20:11] glennguy commented on #865
Need to see a debug log, HLS manifest looks fine

[2021-12-23 20:33] eracknaphobia commented on #865
@glennguy Thanks for taking a look!

http://paste.kodi.tv/ipojaqiqev

[2021-12-24 01:45] glennguy commented on #865
Have you set this? - `listitem.setProperty('inputstream.adaptive.license_type', 'com.widevine.alpha')`

[2021-12-25 04:01] eracknaphobia commented on #865
Wow, that was it. I can't believe I missed this! 🤦‍♂️

It works perfectly now.

Thanks for pointing this out @glennguy

[2021-12-25 04:01] #865 closed, assigned to nobody

[2021-12-26 04:37] coffeinflash commented on #859
This is related to my external bento4-package. So this can be closed.

[2021-12-26 19:22] KimiyaMorozova opened #866 "Bad Status permanent failure (Armhf) (raspberry pi4)"
## Bug report
### Describe the bug
Here is a clear and concise description of what the problem is:
Inputstream adaptive does not play content from Netflix or YouTube Addon "Permanent Failure"
Getting this bug whenever i want to play something:
[code]

## Expected Behavior
Here is a clear and concise description of what was expected to happen:
Video/Livestream plays normally

### Debuglog

The debu

[2021-12-26 23:38] glennguy commented on #866
Debug logging isn't enabled so there's possibly info missing that would help.

Best guess though would be that you've copied your entire addons folder from another kodi installation that's running on a different platform/architecture. In that case the solution would be to reinstall inputstream.adaptive from a repository or compile it yourself/install

[2021-12-27 06:20] coffeinflash commented on #859
Fixed the bento4 package. Now it built successfully.

[2021-12-27 06:20] #859 closed, assigned to nobody

[2021-12-27 06:21] coffeinflash commented on #859
solved - no bug.

[2021-12-27 13:18] KimiyaMorozova commented on #866
My bad, here is a working debug log:
[kodi_debug.txt](https://github.com/xbmc/inputstream.adaptive/files/7780314/kodi_debug.txt)
 Compiling and installing it from source didnt help. reinstalling plugin from GitHub itself didnt help either, error is still the same.

[2021-12-27 22:36] glennguy commented on #866
What do you mean by this?

[2021-12-28 09:07] kszaq commented on #829
@dobo90 Can you confirm if #858 fixed the issue for you? I am using Nexus IA branch with Kodi 19 (not supported, I know) and I still need your Bento4 patch to solve crashing.

[2021-12-28 11:47] KimiyaMorozova commented on #866
Oh, downloading the newist plugin from netflix, YouTube etc. from thier release page of github.

[2021-12-29 16:27] CastagnaIT commented on #866
I can confirm for the cause of `Permanent Failure` i also remember the following,
wrong installed ISA binary of an architecture that not match the device architecture, then you have to install the right ISA binary,
or also you could have updated ISA binary but Kodi has never been restarted then you have to reboot the device to be sure that the new binary is loaded in right way

[2021-12-29 16:46] CastagnaIT commented on #829
it is not his patch is an old undocumented patch from our source code which i have not included for the various reasons already mentioned, strange that the crash happens again, perhaps an oversight to be check

i think that as first you should make a safe test by using Kodi 20 with ISA nexus binary (so without mixing old/new interfaces)
if still happens open another Issue thread

[2021-12-30 13:28] KimiyaMorozova commented on #866
Installed is armhf version, what is the same version for kodi and the device structure. Another binary is not avalible from the Raspberry Repo. i could try to use a older kodi version, because i knew 18.7 was working fine, but i don't know where to get a 18.7 Repo.

[2021-12-30 17:31] matthuisman commented on #785
This may be worth a try

https://github.com/xbmc/xbmc/issues/19436#issuecomment-1002958894

[2021-12-30 17:46] popy2k14 commented on #785
Tested the build on my shield tv pro with latest inputstream.adaptive 19.0.1 and test build from above -> same issue after seeking backwards.

[2021-12-31 21:05] dev77-07 commented on #782
Not sure if there is anything in the works yet for this, but would love to see it get added. Discovery+ USA uses CEA-608 captions as well so they are not working as of now.

[2022-01-02 12:44] CastagnaIT commented on #855
hi @Dis90 new build please test it: https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/PR-857/9/artifacts
(for Kodi 19)

[2022-01-02 13:14] Dis90 commented on #855
Tested and now subtitles works. Huge thanks :)

[2022-01-06 06:15] dudumaroja commented on #855
where i can find a rpi4 build for testing?

[2022-01-06 20:12] Dis90 opened #870 "Some HLS WebVTT subtitles doesn't work"
## Bug report
### Describe the bug
Here is a clear and concise description of what the problem is:

WebVTT subtitles in some HLS streams doesn't work.

(Case 1) On Kodi 19 and Kodi 20 these doesn't work. Kodi 19 doesn't show subtitles and on Kodi 20 video playback doesn't start.
[prog_index.txt](https://github.com/xbmc/inputstream.adaptive/files/7824316/prog_index.txt)
[caption_0.txt](https://gith

[2022-01-07 09:44] CastagnaIT commented on #870
i can check the 2nd case `These does work on Kodi 19 but doesn't work on Kodi 20 (subtitles is listed in subtitles menu)` for Kodi 20

the other one for Kodi 19 from my part i will not make any changes the parser used is too unstable and incomplete

[2022-01-07 15:32] CastagnaIT commented on #870
if i provide you a Kodi 20 build for Windows, are you able to test it?

[2022-01-07 15:49] Dis90 commented on #870
Yes, I have old Windows laptop which I can use for testing.

[2022-01-07 16:18] CastagnaIT commented on #870
Good, this is the test build of Kodi 20 (64bit)
extract it in a new folder then start Kodi by running `_RunAsPortable.bat` file, to start kodi as portable mode

build: https://www.dropbox.com/s/5ig2t3foez3zwo4/KodiPortable_Builded_v20_HLSwebvtt.zip?dl=1

This should fix the case 2 (`These does work on Kodi 19 but doesn't work on Kodi 20 (subtitles is listed in subtitles menu)`) only
please check i

[2022-01-07 16:23] CastagnaIT commented on #855
for rpi you have to build ISA yourself to match your device architecture

[2022-01-07 21:08] Dis90 commented on #870
Tested and subtitles are now working and in sync with video for case 2.

Here is caption.vtt files:
[caption_0.txt](https://github.com/xbmc/inputstream.adaptive/files/7831374/caption_0.txt)
[caption_1.txt](https://github.com/xbmc/inputstream.adaptive/files/7831376/caption_1.txt)
[caption_2.txt](https://github.com/xbmc/inputstream.adaptive/files/7831377/caption_2.txt)
[caption_3.txt](https://github

[2022-01-08 03:14] glennguy commented on #785
@popy2k14 I've spent a lot of my spare time this week on this issue, think I'm getting pretty close. I can say fairly certainly though that the issue isn't with inputstream.adaptive.

One thing I can get you to check for me - does this problem happen for you when watching non-live/VOD streams? I've found it's fine when you start from the beginning, but if you resume then there's issues when seekin

[2022-01-08 08:22] CastagnaIT commented on #870
perfect thanks i will push the changes on Kodi,
maybe @glennguy can suggest how to proceed to check the problem in the Case 1, where the video not starts

[2022-01-08 12:00] kontell commented on #785
I've got the same behaviour for VOD with Sky Sport Now, skipping back is a problem only when video is resumed.

[2022-01-08 12:55] popy2k14 commented on #785
@glennguy THANKS A LOT FOR YOUR TIME AND FINDINGS!!!!!
Will do a test with youtube soon.

When i got you right, my tests are:
Starting an video from beginning letting it run for an minute and rewinding should work.
But start an video in the middle (with resume) and then rewind should not work.

Right.

Is it possible to make an test build of kodi nexus or leia for androud arm64?
So i can test that

[2022-01-08 13:15] popy2k14 commented on #785
@glennguy i can 100% confirm your findings.

Issue pop's up when:

- playing live VOD (zattoo, Youtube, ...) and rewind
- playing NOT live VOD (zattoo, Youtube, ...) and start with "resume" at an position and then reqind

IT does NOT come up when:

- Playing VOD from the beginning and then rewind.

So i think your findings with the missing set variable hopefully solves the issue.

If you can provi

[2022-01-08 13:39] glennguy commented on #785
I've got a Matrix build to try, it won't install over the top of an official build as it's signed with a different key.
https://drive.google.com/file/d/16VfHcj44Krut2Jqu8valkalIlAv8D6LI/view - arm64 btw

[2022-01-08 13:46] phunkyfish commented on #785
Or create a PR to get the test builds from Jenkins.

[2022-01-08 13:53] popy2k14 commented on #785
@glennguy tested your build and it works as it should on zattoo (recordings, live, ...), youtube (live & not live).
I think you found and fixed the issue!

thx a lot

[2022-01-09 06:57] glennguy commented on #870
@Dis90 unfortunately the logs don't say much about why the video won't start. But seeing as it's going ahead and downloading hundreds of segments for subtitles - way beyond the 120 seconds buffer

@CastagnaIT  - I had this commit to fix the ISA parser not looking at the LOCAL parameter: https://github.com/glennguy/inputstream.adaptive/commit/661ded45d84bb39dfffc7dc726ca4d7621cbd337 which never mad

[2022-01-09 07:24] Dis90 commented on #870
Is there something I can do to make logs show more info? After clicking tabulator I can see video controls (play, pause etc.) but video doesn’t play.

[2022-01-09 08:17] CastagnaIT commented on #870
@glennguy in the webvtt parser that i have implemented on kodi i had no way of testing this HLS case, so i had not completed this code, after i completely forgot it...
However yes looks at them, i have add/fix the same things on kodi parser

[2022-01-09 08:24] Dis90 commented on #870
Here is screenshot how things look. After video starts busy spinner spins forever but if I click backspace and after that tabulator I can get video controls to show.
<img width="1170" alt="Näyttökuva 2022-1-9 kello 10 20 04" src="https://user-images.githubusercontent.com/1754572/148674798-0a516bea-4909-4cab-b15f-8d8c41810b83.png">

[2022-01-09 08:33] CastagnaIT commented on #870
in my tests when was deleting the parser on ISA
I had noticed that downloading segments can cause a delay in the execution of the video
the specifications say that you should only download the required part of segments and not all segments at once

now that i see from prog_index.txt this video have 1327 segments (files) a little long to handle all these files in one time

[2022-01-09 09:22] CastagnaIT commented on #870
maybe I'm saying something dumb... but if we theorize that all segments are downloaded at same time
is possible that the #EXTINF: value is badly handled?

[code]
all are 2secs maybe all are downloaded at same 2sec pts? instead of 2,4,6,etc...

[2022-01-09 10:00] glennguy commented on #870
Pts accumulates so that's not the issue, the tag is announcing the length of the below segment

[2022-01-09 10:02] glennguy commented on #870
First guess for me would be that IA is searching for the pts and can never seem to seek through enough segments to ever find it.

@Dis90 it's all good, I was just thinking that it's hard to debug when we don't have access to the service, and nothing obvious in the logs.

[2022-01-09 10:07] CastagnaIT commented on #870
also with dysn€y+ happens same thing all segments are downloaded in full at starts, but i cannot test on d+ anymore i have deleted the account

[2022-01-09 10:31] glennguy commented on #870
ok good to know, I think I still have an account with them to test with.

[2022-01-09 10:55] CastagnaIT commented on #870
i have just found a free hls webvtt segmented:
https://playertest.longtailvideo.com/adaptive/elephants_dream_v4/index.m3u8
result to be:
[code]
i think you can use this

[2022-01-09 11:30] glennguy commented on #870
Without looking right now (but remembering what I know) there's a few possibilities.

I will double check tomorrow evening but in my mind here are some possible scenarios
* ISA is not observing the settings for max buffer length when it comes to subtitles
* VideoPlayer is not satisfied asking for subtitle demux packets until the whole file is loaded (and in the OP case perhaps after downloaded all

[2022-01-09 11:41] glennguy commented on #870
Ok can't help myself so had a quick look at code before bed.

My guess is here https://github.com/xbmc/inputstream.adaptive/blob/ed714ad56a9e36d46f153bfa750d82b10de264b5/src/main.cpp#L3903 is always (after giving a video and audio) returning the subtitle sample reader

Because here https://github.com/xbmc/inputstream.adaptive/blob/ed714ad56a9e36d46f153bfa750d82b10de264b5/src/main.cpp#L3071 the PTS

[2022-01-09 12:10] Dis90 commented on #870
I tested this and after waiting few minutes video starts. Subtitles doesn't work on my Mac but I tried Windows and @CastagnaIT test build and with it subtitles works but only for language what Kodi chooses to use (media default or what language I've chosen to use). Maybe other languages also works if I wait long enough after change?

[2022-01-09 12:56] popy2k14 commented on #785
Fixed with referenced PR's.
Thx again.

[2022-01-09 12:56] #785 closed, assigned to nobody

[2022-01-09 16:06] CastagnaIT commented on #870
@Dis90 due to the higher delay in theory yes, because when you change subtitles you clear all data

@glennguy i have made a test,
i have found kind of fix, but only for the packets set to kodi, as you said the pts was not set,
if i add the pts like this subtitle segments packets are sent to kodi while in playback instead all in one at video starts:
https://github.com/CastagnaIT/inputstream.adaptiv

[2022-01-10 01:50] ilikenwf opened #871 "Nexus - Archlinux - template issues in AdaptiveTree.h"
I'm unable to build for Kodi 20 under Archlinux due to this template issue:

[code]

[2022-01-10 09:39] CastagnaIT commented on #871
i think it is missing the template argument
please apply this diff in your local source code:

[code]

recompile and let me know

[2022-01-10 11:38] glennguy commented on #870
@CastagnaIT I didn't have access to your proposed fix on Kodi's side but using Matrix with 20.0.2 I think the change needed is just to change here https://github.com/xbmc/inputstream.adaptive/blob/ed714ad56a9e36d46f153bfa750d82b10de264b5/src/main.cpp#L1609 to `m_codecHandler->Transform(m_pts, m_sample.GetDuration(), result, 1000);` - the other modifications in your branch were unnecessary.

With t

[2022-01-10 11:44] glennguy commented on #870
I think there's no further issue, just that with the current design the minimum amount of buffers for a stream is 4.

Aside from that, to add further comment to the above one - you can see that the webvtt segment downloading now 'takes turns' with the audio and video, rather than downloading all sub segments one after the other without other things happening.

[2022-01-10 11:49] glennguy commented on #785
@popy2k14 thanks for regularly nudging me on this one and your relentless testing and supply of logs :) and thanks too @kontell -  we got there in the end!

[2022-01-10 12:31] popy2k14 commented on #785
@glennguy no problem. Nice that you found and solved the issue! It seems it also fixes other open issues (VC1 seeking...) :-)

[2022-01-10 12:52] CastagnaIT commented on #870
@glennguy your proposed change not works, because in this use case we have segmented files, and are handled by `AP4_ByteStream* input` contructor then not `url` constructor.
You can see also by yourself by appling this kodi patch to keep track of the received segmented packets:
https://github.com/CastagnaIT/xbmc/commit/91180642f9be8c38fa02cfde9705f56fc19baa7a

with your change in the log output yo

[2022-01-10 13:14] CastagnaIT commented on #870
@Dis90 with the build for windows that i provided previously
please update ISAdaptive with this build: [inputstream.adaptive_patched.zip](https://github.com/xbmc/inputstream.adaptive/files/7838999/inputstream.adaptive_patched.zip)
(you can install it via GUI)
then provide a feedback with a log for the case 1

[2022-01-10 13:46] Dis90 commented on #870
Didn't work or I'm doing something wrong.

[kodi.log](https://github.com/xbmc/inputstream.adaptive/files/7839229/kodi.log)

[2022-01-10 13:56] CastagnaIT commented on #870
This should works: [inputstream.adaptive_patchedRel.zip](https://github.com/xbmc/inputstream.adaptive/files/7839303/inputstream.adaptive_patchedRel.zip)

[2022-01-10 14:04] Dis90 commented on #870
Now video starts immediately and subtitles works but only for first two sentences (I think).
[kodi_new.log](https://github.com/xbmc/inputstream.adaptive/files/7839356/kodi_new.log)

Edit. If I change subtitle language while playing I can get other language to display but again only for two sentences and when changing back to preferred language Kodi displays two sentences and then stops to display

[2022-01-10 15:12] ilikenwf commented on #871
I tried, no such luck. Could it be a verisioning or ABI issue since Arch tends to run bleeding edge versions of packages sometimes? I had to downgrade python already to keep certain plugins from crashing.

[code]

[2022-01-10 15:40] CastagnaIT commented on #870
Try also with this: [inputstream.adaptive_patched_2.zip](https://github.com/xbmc/inputstream.adaptive/files/7839983/inputstream.adaptive_patched_2.zip)

[2022-01-10 15:50] ilikenwf commented on #871
Clang gives possibly more useful output:

[code]

[2022-01-10 16:57] Dis90 commented on #870
This time Kodi crashes after two sentences of subtitles
[kodi_new2.log](https://github.com/xbmc/inputstream.adaptive/files/7840468/kodi_new2.log)

Do you need kodi_stacktrace or kodi_crashlog...dmp?

[2022-01-10 17:03] CastagnaIT commented on #870
no not needed, the problem seem always around the pts value to be set
but compared to the test stream, your video has different behaviours
ATM i have no others ideas
let's see if glennguy find other

[2022-01-11 11:32] CastagnaIT commented on #855
Fixed by #857

[2022-01-11 11:32] #855 closed, assigned to nobody

[2022-01-11 20:05] Mariusz89B opened #874 "Failed to download video segment"
## Bug report
### Describe the bug
Here is a clear and concise description of what the problem is:

Playback stalls after couple minutes of watching stream from https://pilot.wp.pl/tv/

Video segment failed to download:
`AddOnLog: inputstream.adaptive: Download failed with error 403: https://stream-cdn-1.videostar.pl/263/smil:premium/segment_7c4f870e2_ctvideo_cfm4s_ridp0va0br2200000_cs703871059545

[2022-01-12 10:01] CastagnaIT commented on #871
could be a problem of the compiler version used but i am not so expert on linux
maybe someone else can help you

[2022-01-12 11:37] glennguy commented on #870
@CastagnaIT my apologies - I actually quoted the wrong line of code in my post above (used the correct one however in my local build). I meant to say modify this line https://github.com/xbmc/inputstream.adaptive/blob/8df723673134b3c1ddccf4c3ab2a776980f0319a/src/main.cpp#L1665 to `m_codecHandler->Transform(m_pts, m_sample.GetDuration(), result, 1000);`

Can't be 100% sure with the discovery one wit

[2022-01-12 12:47] CastagnaIT commented on #870
this change:

`m_codecHandler->Transform(m_pts, m_sample.GetDuration(), result, 1000);`

is impossible that works,
`m_pts` is populated by `m_sample.GetCts() * 1000` that happens after, and `GetCts` return the value provided from `Transform(0, ...)` (before forced to 0) then if you have change to `Transform(m_pts, ...)` you will create a variable loop of "0" value...

in fact the log result the sa

[2022-01-12 14:00] Dis90 commented on #870
For my point of view it's not critical to get case 1 working. By default discovery+ add-on uses DRM/MPD streams (website also) and subtitles are now working in Kodi 19 and 20 for those.

HLS is only used if users sets DRM to disabled. Previously user had to set DRM disabled in order to get subtitles to work on newer videos (Kodi 19). Older videos are in case 1 format.

I'm not even sure if discove

[2022-01-12 17:23] CastagnaIT commented on #870
yes may not be prioritary to fix
when i implemented the new webvtt parser on Kodi i had already noticed this problem with Disn€y+
but i didn't go into it because I'm not very knowledgeable about various aspects of ISA

as is, it can work fine only if an HSL stream has few segments because the problem stay hidden,
but for streams like your with 1000+ segments the problem become heavy

however other

[2022-01-12 17:55] Dis90 commented on #870
Yeah of course I can help with the testing.

[2022-01-12 22:06] glennguy commented on #870
@CastagnaIT you're completely right, I thought I observed a change in behaviour but it's just sending 0 again. Learning all the time!
Will have another look tonight and see what I can come up with.

Also

Yes this is what using m_ptsOffset is effectively doing

[2022-01-13 11:29] glennguy commented on #870
@CastagnaIT I think your proposed changes are the best we can have, there is no other way to get timing information other than the playlist->segment times. Please PR when you're ready :)

[2022-01-13 12:08] glennguy commented on #874
Thanks for all the details!
Usually this happens because there's some cookie or other header, or url parameter that changes after a few minutes. Nothing to do with the license in this case.
I'd suggest looking at how the official app for this service behaves for some clues.
The solution for you would involve running a local proxy to modify what's needed, many add-ons have to do this.

[2022-01-13 14:20] Mariusz89B commented on #874
@glennguy Thank you for your suggestions, the url in deed changes after couple of minutes.

[2022-01-13 14:20] #874 closed, assigned to nobody

[2022-01-14 09:24] CastagnaIT commented on #870
my initial solution:
`m_codecHandler->Transform(m_ptsOffset, 0, result, 1000);`
could works, but we cannot full test it now, because we havent the possibility to disable the adaptive stream switching on ISA and/or having a solution to DEMUX_SPECIALID_STREAMCHANGE problem on kodi side,
the DEMUX_SPECIALID_STREAMCHANGE still fuckup the kodi parser and the subtitle data at every call...

as @Dis90 sa

[2022-01-14 09:31] CastagnaIT commented on #870
however before the DEMUX_SPECIALID_STREAMCHANGE call seems that the segments are downloaded and sent correctly,
without a way to disable adaptive stream the only way to be sure is apply my PR https://github.com/xbmc/xbmc/pull/20579 on ISA/Kodi to see if works
I will see soon...

[2022-01-14 09:51] glennguy commented on #870
I know this needs to be made a setting but it's fairly easy to make a small hack to turn it off.

New representations are chosen here https://github.com/xbmc/inputstream.adaptive/blob/8df723673134b3c1ddccf4c3ab2a776980f0319a/src/common/AdaptiveStream.cpp#L558-L575

Just comment out and replace with `newRep = current_rep_;`

I was testing too last night with a multi period HLS with webvtt using LOC

[2022-01-15 14:14] CastagnaIT commented on #870
thanks! now it's a bit easier do tests

I have made an almost complete solution
this seem to works, I had to revert the #841 was causing problems to segments
but now there is a problem to solve with the video seek
if you rewind forward, there is no problems
but if you rewind backward (at a point where you did not play the video) the subs packets are no longer sent to kodi for 1 or 2 minuts, can yo

[2022-01-15 14:53] Dis90 commented on #870
Tested and subtitles works now without crash. Do you want log?

[2022-01-15 15:38] CastagnaIT commented on #870
@Dis90 not needed thanks
before you will ask please note that when this fix will be done you will still have broken subtitles due to stream adaptive change (not fixed yet, in this test has been forced "disabled")

[2022-01-15 16:00] CastagnaIT commented on #870
@glennguy sorry for the noise i think i have just fixed also the seek problem,
I will double-check the changes i need to do more tests also with single file webvtt to be sure
after i will prepare the PR

[2022-01-16 02:11] ilikenwf commented on #871
I suspect that I have an old version of the kodi dev libraries. Going to try updating those.

[2022-01-16 03:22] ilikenwf commented on #871
Yep, that was it.

[2022-01-16 03:22] #871 closed, assigned to nobody

[2022-01-16 11:01] CastagnaIT opened #876 "Segmented WebVTT with metadata X-TIMESTAMP-MAP can have sync problems"
## Bug report
### Describe the bug
Here is a clear and concise description of what the problem is:

I have opened this Issue to keep track of the problem and for possible developments/discussions

HLS streams with segmented WebVTT tracks, can have X-TIMESTAMP-MAP values on webvtt data used to sync the subtitles with the video

X-TIMESTAMP-MAP values are handled from Kodi webvtt codec parser: https

[2022-01-17 17:07] DjDiabolik opened #877 "Raspberry - Some Addons are unwatchable becuase struttering and buffering issue since few days......"
### Describe the bug
I use KODI on my Rpi2 using last and current build of OSMC.
I also use DAZN addons from @Maven85 for months and months and it's ever works.

Yesterday i have tryed to watch livestream of "Inter - Atalanta" and it's unwatchable. The livestream goes in buffering immediatelly after fist seconds and never obtain a continuous playback.
After that i have also tryed to open a VOD con

[2022-01-17 17:21] DjDiabolik commented on #678
@wagnerch do you have a raspberry kodi setup on your home ?
Can you check if DAZN addons it's works (or problably some other addons using widevine) or also you obtain a completely struttering and buffering reproduction issue ?

[2022-01-17 17:35] anoninthekop commented on #877
Yes I have the same issue on a raspberry pi 3+ on latest version of osmc. I'm trying to play an strm file of an mpd stream with widevine drm. Log shows large audio sync error. Only solution I have found is to set inputstream adaptive to audio only mode.

[2022-01-17 18:40] pejobo commented on #678
@DjDiabolik I don't know the background of your question but I can confirm that it's working just fine

[2022-01-17 18:46] matthuisman commented on #877
I've heard this is caused by the latest widevine DRM blob version (4.10.2391.0).
Reverting to previous (4.10.2252.5) seems to solve it

[2022-01-17 19:59] horstle commented on #678
There are some reports about stuttering with the latest libwidevinecdm.so version 4.10.2391.0. Apparently it doesn't happen with all addons, Not yet sure what's going on, but going back to 4.10.2252.5 apparently helps.

[2022-01-17 21:47] CrAcK75 commented on #703
I've the same issue and in my case if I rewind a bit IA play fine but only for a few seconds, if I repeate rewind it play another fews seconds... how could I solve?

[2022-01-17 22:28] CrAcK75 commented on #249
I've the same issue playing:  https://supertennix-l3-live1.secure.footprint.net/restreamer/supertennix_client/gpu-b-c1-17/restreamer/rtmp/hls/h24_live/manifest.m3u8
I've a lot of
WARNING <general>: ActiveAE - large audio sync error:
and also
ERROR <general>: CDVDAudio::AddPacketsRenderer - timeout adding data to renderer
and
 WARNING <general>: CVideoPlayerVideo::OutputPicture - timeout waiting fo

[2022-01-17 22:35] diekshouse commented on #877
Hi,
I can confirm, installing widevine 4.10.2252.5 solved the problem.
Thanks very much.

[2022-01-18 05:50] glennguy commented on #249
@CrAcK75 the same warning in the log != same issue.

Luckily I can access that stream from where I am, and whether it's played in Kodi, VLC, or Chrome there's an issue with the audio sync. It seems to be several seconds out. This could be causing the other symptoms seen or maybe completely unrelated. I can see from my log that inputstream.adaptive seems to skip over a segment after ~10 or so secon

[2022-01-18 07:15] anoninthekop commented on #877
Any instructions on installing an earlier version of widevine? Im running a new setup and 4.10.2391.0 is the only one installed.

[2022-01-18 10:10] stsichler commented on #678
I can also confirm massive stuttering with latest widevine on up-to-date XBian on Raspberry Pi 3, I also had to downgrade winevine for this reason.

[2022-01-18 11:42] BlackEdder commented on #678
I have a related problem with the newest version in that suddenly it keeps buffering, where before it was fine. Could it be that the latest widevine version does not properly adhere to maximum resolution settings?

EDIT: downgrading libwidevinecdm.so solves this issue.

[2022-01-18 12:33] glennguy commented on #678
Does anyone have any rough stats on CPU usage before/after downgrading versions?

[2022-01-18 13:04] ayoubcr5 commented on #812
hey ,
thank you for this one
can you please show me how to do it in php or javascript
how to get correct license challange from 'https://secure-webtv-static.canal-plus.com/widevine/cert/cert_license_widevine_com.bin'

[2022-01-18 13:04] ayoubcr5 commented on #812
hey ,
thank you for this one
can you please show me how to do it in php or javascript
how to get correct license challange from 'https://secure-webtv-static.canal-plus.com/widevine/cert/cert_license_widevine_com.bin'

[2022-01-18 16:20] CrAcK75 commented on #249
Thank you for your answer @glennguy, unfortunately, to date that streaming is not available, I think the site has some problems, but in the last few days if I was playing the streaming online there were no visual problems, only kodi freezed the image.

For now I've to wait

[2022-01-18 21:21] glennguy commented on #249
@CrAcK75 fix is in progress, please see #878
Once backported to Matrix I will do a release

[2022-01-19 16:24] CrAcK75 commented on #249
Thank you

[2022-01-20 07:39] CastagnaIT commented on #877
A similar issue is happened i think 1 or 2 year ago on the same architecture, that revert to an old version of DRM temporary fixed the problem

but this is interesting there might be some other hidden problem somewhere:

[2022-01-20 09:39] glennguy commented on #877
@CastagnaIT good point.

A little while ago on Android we adopted using separate widevine sessions for audio/video rather than the same which fixed stuttering. I can only guess that the decrypter didn't have enough 'juice' to do both at the same time fast enough, perhaps the same situation here? This kind of thing may have recommendations in official widevine docs, which we don't have access to.

[2022-01-20 18:46] matthuisman commented on #877
I assumed it was due to that doing them in series was too slow to keep up with video, but doing in parallel halves the time needed.

Eg. On a Pi, it takes 2s to decrypt video. 1s to decrypt audio. So total of 3s if doing in series. Which may be too slow to keep up. But doing in parallel would be only 2s.

Doing in parallel should actually require more juice as doing double the work at once right?

[2022-01-20 19:39] eracknaphobia opened #880 "Sling MPD Live Issue"
While trying to debug an [issue](https://github.com/d21spike/plugin.video.sling/issues/40) in the Sling TV Addon it was [suggested](https://github.com/d21spike/plugin.video.sling/issues/40#issuecomment-1017708480) to create an issue here.

1. First segment played `https://p-cdn4-e-cg14-linear-cbd46b77.movetv.com/15803/live/ESPNHD/4a8a1a5479cd11ecbc620025b5472112/video/vid06/0000493d.m4s`

2. MPD f

[2022-01-20 21:28] matthuisman commented on #880
@eracknaphobia IA is doing a few things wrong
1) https://github.com/xbmc/inputstream.adaptive/blob/Nexus/src/parser/DASHTree.cpp#L1285
 tpl.timescale / tpl.duration should be  tpl.duration/ tpl.timescale
2) overallSeconds shouldnt be remove here.
So the formula should be:
`seg.range_end_ += (static_cast<int64_t>(dash->stream_start_ - dash->available_time_ - sample_time)) * tpl.duration / tpl.times

[2022-01-21 00:10] matthuisman commented on #880
@eracknaphobia
please try Matrix build from here:
https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/PR-881/5/artifacts

[2022-01-21 03:06] eracknaphobia commented on #880
@matthuisman  with the latest build live channels are working as expected.

NBA streams start from beginning, instead of live.

Adding the properties you mentioned seems to fix the NBA streams, I will have to do more testing.
[code]

[2022-01-21 03:10] matthuisman commented on #880
When it starts from start, can you download that manifest and upload it.
I assume it hill have multiple periods.
One short 3s advert probably.
IA should be starting playback at the end of that period. As it's short, it probably seems like it's the start of the stream

also, what does Kodi show as the length of the timeline?
ie. how far back and forward can you rwd / fwd?
any little lines on the ti

[2022-01-21 14:31] DjDiabolik commented on #877
Hi my friends.....

I have obtain a strange situation whit this issue... whit my BAD english i try to explain:
From "Inputstream.Helper" i have 4 backup concern the widevine 4.10.2252.5.

When i open this issue I had already tried to restore this same version of the library... restart kodi and the issue it's remain.

On OSMC forum here:
https://discourse.osmc.tv/t/stuttering-buffering-videos-with-

[2022-01-21 14:33] eracknaphobia commented on #880
Live games won't start until 7pm EST tonight. I'll hop on then and get you the info requested.

[2022-01-21 14:34] DjDiabolik commented on #678
Lol sorry me it was my intention to try to contact @wagnerch because is as found a valid solution when this issue it's appears on all arm devices.
I thought maybe he might know something about it.....

[2022-01-21 14:48] wagnerch commented on #678
@DjDiabolik I personally haven't used the new Widevine, I typically turn off InputStream Helper's automatic updates and run it until it doesn't work.

@glennguy would know more of the guts here.  But I believe WidevideCDM doesn't actually decode the frames, I think it just decrypts them?  So it could be CPU cycles on the decryption side, which I think he was looking for some info on CPU utilizatio

[2022-01-21 14:52] CastagnaIT commented on #877
if needed i can compile for CoreElec arm64, but i do not know if this compiled files are compatible also with RPI

[2022-01-21 19:35] glennguy commented on #877
@DjDiabolik can you try this version of Inputstream.adaptive with the new widevine cdm?
[inputstream.adaptive-19.0.2.1.zip](https://github.com/xbmc/inputstream.adaptive/files/7916170/inputstream.adaptive-19.0.2.1.zip)

[2022-01-22 00:28] eracknaphobia commented on #880
Here's the manifest file.
[spanning_ads-3.mpd.txt](https://github.com/xbmc/inputstream.adaptive/files/7917269/spanning_ads-3.mpd.txt)

The time looks right in the timeline, the game should be about 20 minutes in but the video feed starts at the very beginning of the broadcast.
![image](https://user-images.githubusercontent.com/8268725/150616511-d9d856dd-0b0c-4478-857b-5b5bd813e5a9.png)

[2022-01-22 01:06] matthuisman commented on #880
As I thought, that has a very short 2s ,1st period. So seems it is working fine. If you use the resume from 'hack" everything works as expected? All other streams also work fine?

[2022-01-22 01:11] eracknaphobia commented on #880
Yep, setting ResumeTime fixes these streams and doesn't seem to effect the other streams.

[2022-01-22 01:20] matthuisman commented on #880
As long as it's only set for live streams, you'll be fine

On Sat, 22 Jan 2022, 14:11 eracknaphobia, ***@***.***> wrote:

[2022-01-22 11:47] glennguy commented on #678
Yes that was what I was getting at.
The CDM can decode the frames too - secure decoding can be required depending on what the provider requires, NF is setup this way I believe.
I built this yesterday with a small change to force inputstream.adaptive to open separate CDM sessions for audio and video. Ends up making 2 license requests to the license server but not really a big deal atm, more interes

[2022-01-23 02:32] matthuisman commented on #880
The test builds are here
https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/PR-881/5/artifacts

[2022-01-23 12:25] glennguy commented on #877
@matthuisman sorry didn't respond to your questions
Yes your example is exactly what I was thinking. Or perhaps not even down to raw cpu power but maybe some sort of latency or blocking plays a part... Google would only care that the armv7 cdm works on the very small amount of devices it's designed for, and maybe doing audio/video in one session is something that google tells licensees not to do.

[2022-01-23 15:19] DDuck007 commented on #877
Hi, I had the same problem when inputstreamhelper updated to 4.10.2391.
inputstream.adaptive-19.0.2.1 unfortunately does not solve the issue.
What I recognozed: With 4.10.2252 the prozessor load on my RPi4 is max 20% (one core, the others <2%), with 4.10.2391 it goes up to 100% at one core periodically - and then it hangs …
Tested with DAZN addon …

[2022-01-24 18:14] rocktobe commented on #678
Hello,
I have stuttering/buffering problem with amazon VOD addon.
I can only use audio or video sessions without trouble but when I have both together it's stuttering or buffering.
I got the problem with the latest widevine version 4.10.2391.0. and I'm unable to downgrade to 4.10.2252.0.
Older Widevine version won't work at all.
I use Libreelec 9.2.8 and Leia 18.9.
Can I just install inputstream.a

[2022-01-25 01:29] glennguy commented on #678
Not on Kodi 18
This is a temporary fix built just for testing. From what I've heard, I'm not sure the problem matches the solution i.e issue still happens anyway.

[2022-01-25 11:53] rocktobe commented on #678
Hello,
I finally found a solution.
I managed to downgrade to widevine version 4.10.2252.0  via the method
curl https://k.slyguy.xyz/.decryptmodules/widevine/4.10.2252.0-linux-armv7.so | sudo tee /home/osmc/.kodi/cdm/libwidevinecdm.so >/dev/null
I just needed to change " /home/osmc/.kodi/cdm/libwidevinecdm.so " cause my directory was not located at the same place...
It works perfectly  !

[2022-01-25 18:30] tiagogaspar8 opened #885 "Codecs: add support for opus"
Hi!

I wanted to ask for support for the opus audio codec instead of the current aac.
Many add-ons could use it but since inputstream adaptive doesn't support it it can't be used.

Thanks!

[2022-01-25 20:28] Arathonk commented on #877
How can I downgrade to 4.10.2252.5? Can't seem to find out how..

[2022-01-25 20:34] matthuisman commented on #877
1) You can download it from below, rename it to libwidevinecdm.so and then replace libwidevinecdm.so in the kodi/userdata/cdm folder
https://k.slyguy.xyz/.decryptmodules/widevine/4.10.2252.5-linux-armv7.so

or

2) Install any add-on from Slyguy Repo (https://www.matthuisman.nz/2020/02/slyguy-kodi-repository.html)
  And then go to Add-ons > services > slyguy common > advanced > re(install) widevine

[2022-01-25 21:41] Arathonk commented on #877
"Install any add-on from Slyguy Repo (https://www.matthuisman.nz/2020/02/slyguy-kodi-repository.html)
And then go to Add-ons > services > slyguy common > playback > re(install) widevine CDM
Then select 4.10.2252.5"

If I go to configure on the slyguy common service there's no option called playback?

[2022-01-25 21:52] matthuisman commented on #877
oops, it used to be there.
Just updated it to add it back.

Follow this to force update:
https://www.matthuisman.nz/2021/07/force-update-slyguy-add-ons.html

And then after its updated, Services > Slyguy Common > Advanced > Re(install) Widevine CDM

[2022-01-25 22:02] Arathonk commented on #877
Worked! Thanks!

[2022-01-25 22:25] glennguy commented on #885
Hi Tiago,

Do you have any examples of streams that use opus? I haven't seen it myself.

[2022-01-25 22:29] anxdpanic commented on #885
I have it disabled in the YouTube add-on, a user just reported it's working now. So I will have to investigate further when I get a chance.

https://github.com/anxdpanic/plugin.video.youtube/blob/master/resources/lib/youtube_plugin/kodion/impl/xbmc/xbmc_context.py#L315

[2022-01-25 22:30] tiagogaspar8 commented on #885
Well, for now I know that YouTube uses it, and I believe I have seen twitch use it (?), Not sure, but they could right? I believe most services that use vp9 tend to pair it with opus.

[2022-01-26 00:38] glennguy commented on #885
Cool, thanks for the info - I'm probably way out of my depth with this one but I will look into it once refactoring/cleanup is done.

[2022-01-26 13:21] tiagogaspar8 commented on #885
Glad to hear it, if you need any help in testing just say so!

[2022-01-28 14:15] s0faking opened #888 "License Request fails with error 500"
## Bug report
### Describe the bug
A few days ago drm protected content stopped working for my addon plugin.video.orftvthek. Requests to the license server return error 500 which leads to "License server returned failure". i was not able to get more detailed error message, if i change the url parameters on the license url request i get json return strings like "bad arguments" and stuff.

this is t

[2022-01-28 18:41] CastagnaIT commented on #870
Issue closed all bugs has been fixed on Kodi 20

[2022-01-28 18:41] #870 closed, assigned to nobody

[2022-01-30 03:53] glennguy commented on #249
@CrAcK75 could you please test the changes, zips for win/mac/android can be had from here: https://jenkins.kodi.tv/blue/organizations/jenkins/xbmc%2Finputstream.adaptive/detail/PR-891/1/artifacts

[2022-01-30 19:55] s0faking commented on #888
the hint from https://github.com/xbmc/inputstream.adaptive/issues/587#issuecomment-818265187 did the trick. when i set the content-type in the header everything works as expected

[2022-01-30 19:55] #888 closed, assigned to nobody

[2022-01-31 09:37] CrAcK75 commented on #249
Hi, first test it's seems to be OK, but I'll test better and I'll say you
Thank you so mutch for now

[2022-01-31 11:05] glennguy commented on #843
@kyl416 I think we should close this issue - it's been established that the behaviour that causes the undesirable experience comes from Kodi's side of things and not this add-on, and that forcing a particular frame rate won't stop Kodi from reverting to the default frame rate after each discontinuity. Not saying that Kodi is doing the wrong thing either, really playlists with changing framerates s

[2022-01-31 15:34] gizmocuz opened #893 "Dash: problem opening stream containing multiple $RepresentationID$ in URL"
There are streams with multiple **$RepresentationID$** in the URL like:

https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd

Sollution is to change the following function

[code]

[2022-01-31 15:51] gizmocuz commented on #893
I created 3 PR's ... Not sure if this is the right way to do this when a project has 3 branches

[2022-01-31 17:01] basilgello commented on #893
Right now, only master (Nexus) and Matrix are supported Kodi versiobs. Leia is no more supported, in case you made a PR targeting 18.x.

[2022-01-31 22:29] DjDiabolik commented on #877
i don't thinks i can upgrade inputstream.adaptive on my actual kodi setup......... i'm using current osmc release on a pi2.

[2022-01-31 22:47] DjDiabolik commented on #678
CUT CUT
how it's possible to do this ? I need to put some addictional setting ?

[2022-02-02 21:49] wagnerch commented on #678
https://github.com/emilsvennesson/script.module.inputstreamhelper/wiki/Troubleshooting#disable-inputstream-helper

I usually go into InputStream Helper's settings and there is a "Disable InputStream Helper" setting.  My experience is this will stop the "forced" updates (which I think is just a 30 day timer), you can also click "Cancel" if the pop-up comes asking to update (but that's annoying with

[2022-02-05 15:18] jaylinski commented on #888
@s0faking Thanks for pointing that out the solution (I also got the 500 error from ORF). You saved me hours of debugging. :+1:

[2022-02-06 14:52] venkatmakam opened #900 "No Video in Raspberry PI4 Netflix Addon"
## Bug report
### Describe the bug
I am using Android Tv  Build (Version 11) from [Konstakang](https://konstakang.com/devices/rpi4/LineageOS18-ATV/). I have installed kodi 19.3 and netflix addon.When i play the video only audio is coming and no video is coming.
Here is a clear and concise description of what the problem is:

### Your Environment
Used Operating system:

 - [ ] Android
 - [ ] iOS
 -

[2022-02-06 21:30] Stavr0sStuff commented on #678
I can confirm this has worked for me as well! Kodi 18.(Belgium, VRT.NU stopped working and now it works again)

Thanks!

[2022-02-08 20:44] Azulath commented on #877
For me, the tricks listed here do not seem to work. I have tried quite a few things, e.g. using InputStream Helper's restore functionality and rolling back to 4.10.2252.0 (13816.82.0) as well as removing InputStream Helper.

Now, Widevine does not even seem to work anymore as I'm unable to start any content that is "protected" by Widevine, even though I have installed it via InputStreamHelper, Sly

[2022-02-08 21:07] matthuisman commented on #877
please post link to full debug logs.
the error that helps is probably above what you have posted

[2022-02-08 21:30] Azulath commented on #877
@matthuisman Sure, there you go:

<details>
  <summary>Full log file</summary>

[code]
</details>

[2022-02-08 21:36] matthuisman commented on #877
please enable debug logging and create a new log with that enabled and post

[2022-02-08 21:56] glennguy commented on #877
@Azulath - Issue isn't with inputstream.adaptive, see here: https://github.com/s0faking/plugin.video.orftvthek/commit/8222472b0e8fd36f69408b2dfe071ba1685efe2a

[2022-02-08 23:33] matthuisman commented on #877
@[Azulath](https://github.com/Azulath)
As @glennguy  said - you need to update your plugin.video.orftvthek add-on to version 0.12.4 (you have 0.12.3 currently)

Also, in the future - please try more than 1x add-on to confirm Widevine isn't working.
eg. There is a Video Tester add-on that has a Widevine test in the Slyguy Repo.
Would have saved everyone a bit of time :)

[2022-02-09 09:58] CastagnaIT commented on #900
no debug log provided,
most likely your custom rom does not have licensed Widevine library

[2022-02-10 08:20] Arias800 commented on #496
Hello,
I have found where the problem came from.
The url use by InputStream Adaptive is this :
`https://www.dailymotion.com/sec(kQ-xm7K7XuJL2OOBtgtlOJH7DIuVl67zjGYasf089kAcNdcS6AzyCP912IlsGrPvYcsQx6qQ0NFwFwKG8jeiz-xyyzCrzw_faYj4GpCWLNs)/frag(1)/video/154/400/46004451_mp4_h264_aac_hq.ts`

But on the website, the real url is this one :
`https://proxy-002.ix7.dailymotion.com/sec(kQ-xm7K7XuJL2OOBtgtlO

[2022-02-10 10:40] #900 closed, assigned to nobody

[2022-02-10 10:41] glennguy commented on #893
Fixed in #898

[2022-02-10 10:41] #893 closed, assigned to nobody

[2022-02-10 12:26] Azulath commented on #877
@glennguy and @matthuisman Yeah, I'm sorry about that. In my process of getting Widevine and the ORF plugin to work, I re-installed various addons quite a lot of times and I actually thought I was using 0.12.4 and I've also tried Netflix before.

That being said, re-installing InputStream Helper and downgrading Widevine with SlyGuy's addon did indeed solve the issue. Thank you again!

[2022-02-12 03:58] ravisah96 commented on #559
how did you fix it?

[2022-02-17 22:24] ratcashdev opened #906 "Audio doppler effect"
## Bug report
### Describe the bug

Noticeable change in audio playback speed - slowdown followed by speedup, followed by slowdown - as if it was played from an old cassette.

## Expected Behavior
Here is a clear and concise description of what was expected to happen:

Constant audio 'speed', just like it happens in a browser, when playing the same DASH stream.

## Actual Behavior

Playback starts

[2022-02-18 10:27] glennguy commented on #906
I can see in the manifest the frame rate is apparently 14fps, while your screen is refreshing at 59.94
Do you get any different results if you try different combinations with the sync to playback settings in Kodi?

[2022-02-18 10:28] #833 closed, assigned to nobody

[2022-02-18 10:29] #843 closed, assigned to nobody

[2022-02-18 10:31] #768 closed, assigned to nobody

[2022-02-18 13:49] ratcashdev commented on #906
Yes, toggling sync ON does seem to have an effect, i.e. there's no pitch shifting.

[2022-02-19 11:18] glennguy commented on #906
Thanks for the info

I don't think this is an issue with inputstream.adaptive. I don't think there's a refresh rate on most displays that will play nicely with 13 or 14 fps. Perhaps in the browser it works fine because instead the video is altered/dropped frames?
You could try searching or asking on the forum for advice.

[2022-02-19 21:06] michael112 commented on #775
Hey,
very sorry for my big delay,

Manifest: [manifest.mpd.txt](https://github.com/xbmc/inputstream.adaptive/files/8102993/manifest.mpd.txt)
Log: [log.txt](https://github.com/xbmc/inputstream.adaptive/files/8102994/log.txt)

By the way, I got a bit new knowledge. I suspect this:
```2022-02-19 20:19:50.238 T:7143   ERROR: CDVDAudioCodecAndroidMediaCodec::ExceptionCheck: configure```
which probably

[2022-02-19 23:27] glennguy commented on #775
The exception is being printed - to Android log: https://github.com/xbmc/xbmc/blob/6586a6c535b72896e00733f25fde93980d5f0cca/xbmc/cores/VideoPlayer/DVDCodecs/Audio/DVDAudioCodecAndroidMediaCodec.cpp#L536-L538

You should be able to see in logcat what the exception is, if you could get that and post back here it would be great, hopefully is easy enough to do on your TV.

Thankfully this stream isn't

[2022-02-20 08:20] michael112 commented on #775
How to get the Android log?

[2022-02-20 11:16] glennguy commented on #775
You need to do similar to this. Also will need adb installed on whatever device you're using to remote into the tv. Like with this link I found below, just search 'how to install adb on x'

https://stackoverflow.com/questions/39834242/sony-bravia-android-tv-how-to-enable-retrieve-adb-logcat-logs

[2022-02-20 11:54] michael112 commented on #775
My device is just a phone, not a smart tv.

Wait a few minutes (maybe little more than few). Probably I've found a solution (to get Android log).
I've downloaded Android Studio (portable) and the wizard after first opening tutored me to download Android SDK.
Also, i've found a tutorial - even in my native language(!) ;) which has guided me step-by-step to set the connection between my computer and

[2022-02-20 12:20] michael112 commented on #775
That may probably be this: [android-log.txt](https://github.com/xbmc/inputstream.adaptive/files/8103948/android-log.txt)
(I need to be careful not to publish something private in the log.)
[code]

[2022-02-22 09:54] glennguy commented on #775
I'd say the problem is lack of support in your OS, can't be sure but I'm nearly 100% sure that it isn't to do with this add-on sorry

[2022-02-22 18:52] kszaq commented on #775
@michael112 You can try to enable "Don't use secure decoder if possible" in Inputstream Adaptive settings to see if it helps.

[2022-02-25 11:01] CastagnaIT commented on #183
this has been fixed,
on Nexus now there is full webvtt support

[2022-02-25 11:02] #183 closed

[2022-02-25 12:37] CastagnaIT commented on #188
@pinoelefante are you able to provide a new mpd manifest for the subtitle problem? the link is broken

[2022-02-25 12:42] #274 closed

[2022-02-25 12:43] CastagnaIT commented on #285
already planned on roadmap, no ETA

[2022-02-25 12:43] #285 closed

[2022-02-25 12:49] CastagnaIT commented on #324
@mediaminister can you check if this problem occurs on Kodi 20 nexus?

[2022-02-25 12:57] CastagnaIT commented on #332
since Leia build is discontinued and no fixes will be backported i close this Issue,
if there are problems on Matrix or Nexus please open a new issue

[2022-02-25 12:57] #332 closed

[2022-02-25 13:19] CastagnaIT commented on #464
documented on wiki
in any case this should be fixed by expat repo

[2022-02-25 13:19] #464 closed, assigned to nobody

[2022-02-25 13:22] CastagnaIT commented on #496
@Arias800 can you provide the manifest?

[2022-02-25 13:32] #595 closed, assigned to nobody

[2022-02-25 13:39] #646 closed, assigned to nobody

[2022-02-25 14:10] Arias800 commented on #496
Yeah, this happens for this one :
https://www.dailymotion.com/cdn/live/video/x5gv5rr.m3u8?sec=-_fFygb_d6ykHowRuKbxN3w2kt8cV5Y_DjM3xevSK7v2Mqo_Ytq0JkxHaA0aK-MIDsS7iMB8pc9DsjQFr0m9Pg&dmTs=931453&dmV1st=92F5A987DB5806BDC141F39AF7ED3874

The first link is correctly get (because the domain is already in the link), but the .key and the .ts isn't.
If the link above has expired, he came from here (it's a

[2022-02-25 14:32] #751 closed, assigned to nobody

[2022-02-25 14:57] CastagnaIT commented on #866
as you can see on #454 the reboot usually solve this problem
but it is not something that can be fixed by our part,
since there is another same issue i close this one

[2022-02-25 14:57] #866 closed, assigned to nobody

[2022-02-25 14:59] CastagnaIT commented on #798
i think now can be closed

[2022-02-25 14:59] #798 closed, assigned to nobody

[2022-02-25 16:39] mediaminister commented on #324
@CastagnaIT I don't see any external subtitles in the latest nightly build (KodiSetup-20220224-8dab1656-master-x64.exe)
But this bug is still present in Kodi 19.3

There seems to be a problem with getting a subtitle font?
[code]

[2022-02-25 16:49] CastagnaIT commented on #324
ah no it is only a stupid error output because the folder is not existent i will have to check to remove that log output

[2022-02-25 16:58] mediaminister commented on #324
But nevertheless no external (vtt-)subtitles are shown in Kodi Nexus
I removed Kodi 20 and installed Kodi 19.3 while preserving the user settings and the external subtitles are shown, but with the sync bug.

[2022-02-25 17:29] CastagnaIT commented on #324
if your webvtt files are as the attacched one in the first post,
then your files not follow the W3C webvtt standard
because all timestamps format are wrong

e.g.:
`00:00:20,347 --> 00:00:22,307 line:90% position:50% align:middle`

make use of `,` to separate millisecs where istead must be a dot `.`

then the correct format is:
`00:00:20.347 --> 00:00:22.307 line:90% position:50% align:middle`

thi

[2022-02-25 21:15] mediaminister commented on #324
No, the current WebVTT is valid.
https://dvt-subtitles.persgroep.be/DELUIZENM1_1F647803_ae079e1d-0fda-4bcf-8ebf-f764a4059722_vtt_nl.vtt
Checked with https://quuz.org/webvtt/

[2022-02-26 08:24] CastagnaIT commented on #324
your file must follow W3C standard https://www.w3.org/TR/webvtt1/
read "WebVTT timestamp" section

mentioned validator not follow in full the webvtt standard
therefore if you do not fix your files on Kodi 20 they will never work

[2022-02-26 08:26] CastagnaIT commented on #324
ah wait i opened the wrong  file now i redownload it

[2022-02-26 08:34] CastagnaIT commented on #324
yes this last file posted it is correct and to me works correclty on Kodi 20
either opening it via GUI with local files or opening it with an ISA stream

why do you say it doesn't work? with which method do you open it?

[2022-02-26 15:40] mediaminister commented on #324
Thanks for confirming that the file works. The file is loaded with the [VTM GO add-on](https://github.com/add-ons/plugin.video.vtm.go).

[2022-02-26 15:56] CastagnaIT commented on #496
i have found a way to fix but i am not sure that it is correct
https://github.com/CastagnaIT/inputstream.adaptive/commit/ffca5ba6c5af23eb1692e61d8dc076ca6b23a834

The problem is that now kodi say unsupported stream, usually this is for unsupported video codec
log: https://paste.kodi.tv/cusovatefi.kodi
then also in this case the playback not works

[2022-02-26 16:31] CastagnaIT commented on #324
i do not know how works that addon,
but a fast looking to the script seem doing a lot of unusual things with subtitles

it download and edit the subs files separately from the ISA management, and seem to add these files externally from hdd
i am wondering if all these things break the subs or cause something weird that prevent kodi to load or select the subs track

i have seen that also use `xbmc.P

[2022-03-01 08:23] CastagnaIT commented on #249
the changes has been merged and released in the last version,
it would be good to get feedback also from Issue author @Vitocorl
if no feedback in next days this Issue will be closed

[2022-03-01 08:33] #199 closed

[2022-03-03 13:39] Arias800 commented on #496
According to VLC, the audio codec that use by the livestream is ADTS.

[2022-03-03 21:37] matthuisman commented on #496
**Inputstream: 2.4.5 is very old.**

I suspect this is a redirect issue that was fixed by one my PRs in a later version

we shouldn't really even look at bugs for old versions of IA as they are probably fixed in later versions
Should always need to be at least latest stable.

@[Arias800](https://github.com/Arias800)
Please test same stream in Kodi 19 with latest Inputstream Adaptive and report bac

[2022-03-03 21:48] matthuisman commented on #496
(ignore my last comment)

the below has everything I need to investigate
https://www.dailymotion.com/video/x5gv5rr

[2022-03-06 16:55] Mannshoch commented on #828
For the record: https://github.com/xbmc/inputstream.adaptive/pull/30

[2022-03-07 21:48] pinoelefante commented on #188
@CastagnaIT i can't provide a new mpd. I don't have an active subscription

[2022-03-07 21:48] #188 closed

[2022-03-08 08:32] #249 closed

[2022-03-08 09:06] CastagnaIT commented on #544
Tested and the issue persist in Kodi 19

I have noticed this
initially the live-video works (with audio) correctly but shows a Kodi GUI time-bar of 20 secs lenght,
at the end of these 20 secs the time lenght in GUI time-bar become completely distorted with negative values (see screenshot)
and then here the audio is broken that could be a side effect of the negative PTS values:
![immagine](https://

[2022-03-09 14:22] Arias800 commented on #267
Hello,
Can you please reopen this question, the problem is still there on MyCanal.

[2022-03-10 10:07] CrAcK75 commented on #249
sorry for late but I had with high fever for a few days

on android seems to be ok but on Windows I continue to have very often a lot of WARNING <general>: ActiveAE - large audio sync error
there is another issue to follow?

[2022-03-10 10:45] CastagnaIT commented on #249
what kodi version on Windows? can you try on Kodi 20?
is a bit weird that happens ~only to you~ so rarely, from my tests i have also noticed that mentioned warning
could happens when the system is too busy thing that however can not be solved

for example with my low end pc happens when i watch videos while the system install windows updates or do something else operations that slow down the syste

[2022-03-12 09:07] CastagnaIT commented on #460
someone know if this problem there is also on the new Amazon Fire TV Stick 4K Max?

[2022-03-12 18:05] CastagnaIT commented on #422
I have reviewed the situation, and these are my conclusions

Seems there are no restriction of any kind to `Role` in DASH specs
you can see a summary also here: https://www.brendanlong.com/common-informative-metadata-in-mpeg-dash.html
all tracks can be set also as default,
only the old DASH specs that i am not able to find anymore, said that Role "main" should be set only to a single track, thing

[2022-03-12 18:53] CastagnaIT commented on #422
maybe the only improvement that can be done is find a way to allow to the ISA custom tags in `AdaptationSet` (like "default") to override the "Role" field content

[2022-03-14 20:41] Blaimi commented on #877
On my setup (Amazon VOD, RPi 4, OSMC) this only happens when I have AAC Audio. When I switch to DD+, the buffering disappears as well as the 100% CPU-Usage.

[2022-03-16 18:21] CrAcK75 commented on #249
No, I cannot try with Kodi 20, is not stable and I'm not interest until it become official, the issue is on Kodi 19 Matrix since 19.3 and it's not only my issue because we have an addon "WLTV" that groups a lot of free tvchannels and, many users has the same issue "ActiveAE - large audio sync error". Many of them (not all) has solve on a lot of channels with android (because on android now there i

[2022-03-16 19:33] CastagnaIT commented on #249
however i have tested your link of test stream on:
android honor with Kodi 20
windows with Kodi 19 and Kodi 20
and in all cases the stream is played correctly

ensure you have in kodi video settings:
hardware acceleration mediacodec surface -> ON
hardware acceleration mediacodec -> ON
sync playback to display -> OFF

this warning "ActiveAE - large audio sync error" not explains nothing
on kodi rep

[2022-03-16 19:43] CastagnaIT commented on #249
also be reluctant not to do a test on Kodi 20 not help us to investigate,
the core of Kodi 20 and InputStreamAdaptive for Kodi 20 has different changes/fixes/improvements
therefore it will not be possible to tell whether the problem has already been solved

[2022-03-17 15:21] riess82 commented on #678
worked for me as well on OSMC

[2022-03-19 09:31] #906 closed, assigned to nobody

[2022-03-22 22:12] darodi opened #918 "French labels too long in settings, settings value not visible"
## Bug report
### Describe the bug
Here is a clear and concise description of what the problem is:

French labels are too long in settings, we can't see the selected values next to the label

## Expected Behavior
Here is a clear and concise description of what was expected to happen:

labels not too long, be able to see the selected values in settings

## Actual Behavior

French labels too long in

[2022-03-24 07:10] Vikassm73 opened #919 "Widevine license acquisition failed"
Working on Matrix with updated Inputsream and Widevine.

Getting error,
{"errorcode":371000005,"errormsg":"Widevine license acquisition failed >> Verified media path cannot be verified","errorid":"e06596cb-1362-42bd-bcd8-19d0ee3bb81b"}

inputstream.adaptive: License server returned failure
inputstream.adaptive: License update not successful (no keys)

In the browser, it is showing below details fo

[2022-03-24 10:24] glennguy commented on #919
That key id is the one being sent to the the decrypter so that's not the issue

Verified Media Path (VMP) is the problem and unfortunately there's nothing that can be done from our side.

Further info in most of these issues: https://github.com/xbmc/inputstream.adaptive/issues?q=is%3Aissue+vmp+is%3Aclosed

Basically the provider had configured their content to only be playable on devices that eith

[2022-03-24 12:30] CastagnaIT commented on #918
this is a bug in Kodi GUI control, i had already see this bug
please open an Issue on Kodi xbmc repository

[2022-03-24 12:44] darodi commented on #918
linked to https://github.com/xbmc/xbmc/issues/21184

Also, shorter labels in
https://kodi.weblate.cloud/translate/kodi-add-ons-videoplayer-inputstream/inputstream-adaptive/fr_fr/?q=

[2022-03-24 12:44] #918 closed, assigned to nobody

[2022-03-24 12:48] CastagnaIT commented on #919
~by reading this: https://github.com/Dash-Industry-Forum/dash.js/issues/1924#issuecomment-302034800~

~another solution to try is add the server certificate:~
~https://github.com/xbmc/inputstream.adaptive/wiki/Integration#inputstreamadaptiveserver_certificate~

~@glennguy the request to get the certificate before the license, is not possible do it?~

PS.

nevemind i read that require sign the appl

[2022-03-25 04:01] Vikassm73 commented on #919
Does this should play in Dash? (Which I have tested and not playing)

https://reference.dashif.org/dash.js/latest/samples/dash-if-reference-player/index.html

[2022-03-25 05:49] joaopa00 commented on #496
Looks like the same occurs with videos from digiteka (for instance video from weo site (https://www.weo.fr/direct/)

[2022-03-25 05:53] glennguy commented on #919
Not really sure what you're trying to ask. The default video plays fine using the player in that link... what does this have to do with Kodi/inputstream.adaptive?

[2022-03-25 06:18] Vikassm73 commented on #919
Nothing to do with Kodi/inputstream.adaptive. Just wanted to test whether it can be played in the above link if I provide required license server as well as header info but it does not work.

Will this work in kodi under Android?

[2022-03-26 01:51] glennguy commented on #919
Ok I think I understand - yes that link should be able to do license acquisition properly, as long as your browser is signed with widevine key. This is where smaller/forked browser or browser compiled from source would fail due to VMP, and also Kodi.

VMP doesn't apply to Android, as long as the device can be provisioned L3/L1 then it's all good. Often installing a custom rom will loose the L1 cap

[2022-03-27 05:12] boxkim14 opened #922 "inputstream cannot play mpd file"
Hi,

The Inputstream cannot play following file.
Can you please take a look on this issue when you have time?
Thanks in advance for your help.

hxxps://manifest-viki.viki.io/v1/1192087v/limelight/domain_4/mpd/vtt/viki/baseline/sd/ww/dt2_dt3/manifest.mpd?app=100005a&h_country=ca&h_host=playback-streams-c8f6ddc74-gfkvc&h_request_id=01bfee85c0881ce3522521b8a36cca37%2F9362534543543772187&device_model=

[2022-03-27 05:46] glennguy commented on #922
To begin any sort of help we will need a full debug log showing the failed playback.

Is this from an add-on? If so are you the author?

[2022-03-27 18:06] boxkim14 commented on #922
Thanks @glennguy for your answer.

Please find the log in following url:
https://pastebin.com/gNU8ZJC5

Yes, this is from an add on and I am not the author, but I can modify for testing purpose if needed.

Thanks for your quick answer

[2022-03-28 06:32] Vikassm73 commented on #919
Tried same in Bluestack Android installed in windows. USED modified code

`

        lic_url="https://spapi.zee5.com/widevine/getLicense"
        post_data = urllib_parse.quote_plus('{"customdata":"%s","nl":"%s","drm_info":[D{SSM}],"kid":"%s"}' %
                           (customdata,nl,drm_key))
        license_key = lic_url + '|'+urllib_parse.urlencode(headers)+'|' + post_data + '|'
        pla

[2022-03-28 06:59] CastagnaIT commented on #919
you have to use a real android widevine certified device not a VM
and i think that you should use also an android user-agent

[2022-03-28 10:40] Vikassm73 commented on #919
Thanks @CastagnaIT for your advice. Unfortunately I don't have valid Android box. I have tried replacing User-Agent but result is the same,

[2022-03-28 12:05] glennguy commented on #922
Missing license_key property.
Please check the wiki: https://github.com/xbmc/inputstream.adaptive/wiki/Integration

An example (in .strm file format)
[code]

[2022-03-28 15:39] boxkim14 commented on #922
Thanks for your help @glennguy.

I see the licence key is defined in the code with the Headers:
Note: It was working 2,3 weeks ago.

				item.setProperty('inputstream.adaptive.stream_headers', hea)
				item.setProperty('inputstream.adaptive.license_key', "|" + hea)
			self.__print('Play Input HlS %s' % stream_url)
			item.setPath(stream_url)
			if utils.py3:
				item.setProperty('inputstream', 'in

[2022-03-31 07:23] Vikassm73 opened #926 "Failed to generate Widevine license"
Getting following Error

{"code":-7008,"message":"[-7008] Failed to generate Widevine license"}

Used below code

`

lic_url='https://wv.service.expressplay.com/hms/wv/rights/?
ExpressPlayToken=BQA2T1gfKbEAJDFhZWU2MmNiLTA2YzQtNDFmZC1iZjdkLWRhZDg2NWFlNWNmYwAAAGAEG4NJ8ieotdjr2q4LTC25ScrNnzwZw0SgnLUoYSdoHROENN9IQjw6c1GStYsbvX_kRQct5T8dzOh_YhcYZKA7eDeSf-8w5Tzsv93ibApFBqd076oNVdpnANdToFCI2bWT_vXVdzkgjD

[2022-03-31 14:16] CastagnaIT commented on #926
by reading this: https://www.expressplay.com/developer/restapi/#widevine-license-token-request
seems that GET request is accepted, then you could try as:

`license_key = '%s|%s||' % (lic_url,urllib_parse.urlencode(header))`

and you have to remove the `inputstream.adaptive.pre_init_data` property,
because you have not integrated a proxy in the addon to handle these data